<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="text_method" value="text_trans_contents">
<input type="hidden" name="title" value="<TMPL_VAR TITLE>">
<input type="hidden" name="text_desc" value="<TMPL_VAR DESC>">
<input type="hidden" name="text_id" value="<TMPL_VAR TEXT_ID>">

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
	<tr valign="top">
	   <td colspan="2">
	       <TMPL_INCLUDE lingua_logo.tmpl>
	  </td>
	</tr>
	<tr valign="top">
 		<td width="200">
    			<TMPL_INCLUDE lingua_left.tmpl>
  		</td>
  		<td bgcolor="#ababab" width="600">

				<TABLE CELLPADDING="5" >
													
					<TR>
						<TD align="right" valign="top"><br><TMPL_VAR PAGE_LANG_002500></td> 
						<td colspan="2">
						<TEXTAREA rows="11" cols="50" NAME="Old_text" ><TMPL_VAR OLD_TEXT></TEXTAREA>
					</TR>
					<br>

					<TR>
						<TD align="right" valign="top"> <br> <font size=3 color="blue"> <TMPL_VAR PAGE_LANG_002501> </font> <font size=3 color="red">*</font></td> 
						<td colspan="2"> <b> <font size=3 color="red"><TMPL_VAR PAGE_LANG_002502></font></b> <br>
						<TEXTAREA rows="11" cols="50" NAME="mytext" ><TMPL_VAR TEXT> </TEXTAREA>
					</TR>

					<tr>
					<td> </td>
					
					<td colspan="2">
					<!-- <input type=submit name="trans_desc_change" value="<TMPL_VAR PAGE_LANG_002504>"> --->
<center>					<input type=submit name="trans_send" value="<TMPL_VAR PAGE_LANG_002505>"> </center>
					</td>				
					<tr>


					</table>
			</td>
</tr>

</table>

<TMPL_INCLUDE lingua_footer.tmpl>

























