<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="u_username"  value="<TMPL_VAR USER_USERNAME>">
<input type="hidden" name="u_firstname" value="<TMPL_VAR USER_FIRSTNAME>">
<input type="hidden" name="u_lastname"  value="<TMPL_VAR USER_LASTNAME>">
<input type="hidden" name="u_email"     value="<TMPL_VAR USER_EMAIL>">
<input type="hidden" name="u_syslang"   value="<TMPL_VAR USER_SYSLANGID>">


<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#ababab" width="600">

    <div align="center">
      <h1><TMPL_VAR PAGE_LANG_001031></h1>

      <span class="normal">
        <TMPL_VAR PAGE_LANG_001032><BR>
        <TMPL_VAR PAGE_LANG_001033><BR>
      </span>
    </div>
    <br><br>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="100">
	<col width="200">
        <col width="200">
	<col width="100">
      </colgroup>

      <tr>
        <td></td>
        <td align="right">
	  <span class="normal"><TMPL_VAR PAGE_LANG_001034>:&nbsp;</span>
  	</td>
  	<td>
	  <span class="normal"><TMPL_VAR USER_USERNAME></span>
	</td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
        <td align="right">
	  <span class="normal"><TMPL_VAR PAGE_LANG_001035>:&nbsp;</span>
  	</td>
	<td>
	  <span class="normal"><TMPL_VAR USER_FIRSTNAME></span>
	</td>
  	<td></td>
      </tr>     

      <tr>
        <td></td>
	<td align="right">
	  <span class="normal"><TMPL_VAR PAGE_LANG_001036>:&nbsp;</span>
   	</td>
	<td>
	  <span class="normal"><TMPL_VAR USER_LASTNAME></span>
  	</td>
	<td></td>
      </tr>

      <tr>
        <td></td>
        <td align="right">
	  <span class="normal"><TMPL_VAR PAGE_LANG_001037>:&nbsp;</span>
	</td>
	<td>
	  <span class="normal"><TMPL_VAR USER_EMAIL></span>
	</td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
        <td align="right">
	  <span class="normal"><TMPL_VAR PAGE_LANG_001038>:&nbsp;</span>
	</td>
	<td>
	  <span class="normal"><TMPL_VAR USER_SYSLANG></span>
	</td>
  	<td></td>
      </tr>     

      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>

      <tr>
        <td></td>
	<td colspan="2" align="right">
	  <span class="normal"><b><TMPL_VAR PAGE_LANG_001039></b></span>
	</td>
	<td align="center">
	  <input type="submit" name="u_sub_reg2"
                 value="<TMPL_VAR PAGE_LANG_001040>">
	</td>
      </tr>     

    </table>
 
  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>












