<table cellspacing="0" cellpadding="0" border="0" width="100%">

<!-- Language Selection -->
<fieldset>
  <legend>
    <span class="menu">
      <b><TMPL_VAR PAGE_LANG_000501></b>
    </span>
  </legend>

  <div align="center">
    <select name="system_langs">
      <TMPL_LOOP PAGE_LOOP_SYSTEM_LANG>
        <option value="<TMPL_VAR PAGE_SYSTEM_LANG_ID>" <TMPL_IF PAGE_IF_SYSTEM_LANG>selected</TMPL_IF>>
          <TMPL_VAR PAGE_SYSTEM_LANG_NAME></option>
      </TMPL_LOOP>
    </select>
    <br>

    <input type="submit" name="change_lang" value="<TMPL_VAR PAGE_LANG_000502>">
  </div>
</fieldset>
<br>

<!-- Navigation -->
<fieldset>
  <legend>
    <span class="menu">
      <b><TMPL_VAR PAGE_LANG_000503></b>
    </span>    
  </legend>

  <ul>
    <li><a class="menu" href="<TMPL_VAR PAGE_LEFT_LINK_HOME>"><TMPL_VAR PAGE_LANG_000504></a></li>

    <TMPL_UNLESS PAGE_IF_LOGIN>
      <li><a class="menu" href="<TMPL_VAR PAGE_LEFT_LINK_PERS>"><TMPL_VAR PAGE_LANG_000505></a></li>

      <TMPL_IF PAGE_USER_TYPE_0>
      </TMPL_IF>

      <TMPL_IF PAGE_USER_TYPE_1>
      </TMPL_IF>

      <TMPL_IF PAGE_USER_TYPE_2>
        <li><a class="menu" href="<TMPL_VAR PAGE_LEFT_LINK_CAT>"><TMPL_VAR PAGE_LANG_000506></a></li>
        <li><a class="menu" href="<TMPL_VAR PAGE_LEFT_LINK_ADM>"><TMPL_VAR PAGE_LANG_000507></a></li>
      </TMPL_IF>

    </TMPL_UNLESS>

    <li><a class="menu" href="<TMPL_VAR PAGE_LEFT_LINK_HELP>"><TMPL_VAR PAGE_LANG_000508></a></li>
    <li><a class="menu" href="<TMPL_VAR PAGE_LEFT_LINK_CONT>"><TMPL_VAR PAGE_LANG_000509></a></li>
  </ul>
</fieldset>
<br>

<!-- Text search -->
<fieldset>
  <legend>
    <span class="menu">
      <b><TMPL_VAR PAGE_LANG_000510></b>
    </span>
  </legend>

  <span class="menu">
    <TMPL_VAR PAGE_LANG_000511>
  </span>
   
  <div align="center">
    <select name="search_langs">
      <TMPL_LOOP PAGE_LOOP_SYSTEM_LANG>
        <option value="<TMPL_VAR PAGE_SYSTEM_LANG_ID>" <TMPL_IF PAGE_IF_SYSTEM_LANG>selected</TMPL_IF>>
          <TMPL_VAR PAGE_SYSTEM_LANG_NAME>
        </option>
      </TMPL_LOOP>
    </select>
    <br>
  </div>

  <span class="menu">
    <TMPL_VAR PAGE_LANG_000512>
  </span>
  <br>

  <div align="center">
    <input type="text" name="search_text" value="" size="20">
    <br>
    <input type="submit" name="action" value="<TMPL_VAR PAGE_LANG_000513>">
  </div>
</fieldset>
<br>

<!-- Login -->
<TMPL_IF PAGE_IF_LOGIN>
<fieldset>
  <legend>
    <span class="menu">
      <b><TMPL_VAR PAGE_LANG_000514></b>
    </span>
  </legend>

  <a class="menu" href="<TMPL_VAR PAGE_REGISTER_LINK>"><TMPL_VAR PAGE_LANG_000515></a>
  <br>
  <TMPL_IF PAGE_LOGIN_ERROR>
    <span class="alert"> 
      <TMPL_VAR PAGE_LOGIN_ERROR>
    <span>
  </TMPL_IF>
  <br>

  <span class="menu"><TMPL_VAR PAGE_LANG_000516>:</span>
  <br>
  <div align="center">
    <input type="text" name="login_username" value="<TMPL_VAR PAGE_USERNAME>" size="20">
  </div>

  <span class="menu"><TMPL_VAR PAGE_LANG_000517>:</span>
  <br>

  <div align="center">
    <input type="password" name="login_password" value="<TMPL_VAR PAGE_PASSWORD>" size="20">
    <br><br>

    <input type="submit" name="login" value="<TMPL_VAR PAGE_LANG_000518>">
  </div>
</fieldset>
<br>

<!-- user area of a logged-in-user -->
<TMPL_ELSE>
<fieldset>
  <legend>
    <span class="menu">
      <b><TMPL_VAR PAGE_LANG_000520></b>
    </span>
  </legend>

  <span class="menu">
    <b><TMPL_VAR PAGE_LANG_000516></b>:
    <TMPL_VAR PAGE_USERNAME>
  </span>
  <br>

  <span class="menu">
    <b><TMPL_VAR PAGE_LANG_000521></b>:
    <TMPL_VAR PAGE_ALL_POINTS>
    <br>
    <b><TMPL_VAR PAGE_LANG_000522></b>:
    <TMPL_VAR PAGE_POINTS>
  </span>
</fieldset>
<br>

<fieldset>
  <div align="center">
    <input type="submit" name="logout" value="<TMPL_VAR PAGE_LANG_000523>">
  </div>
</fieldset>

</TMPL_IF>

</table>
