<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">Registrierung und Pers&ouml;nlicher Bereich</h1>

<div align=justify>

<b>1 Registrierung</b>
<br><br>

&Uuml;ber die Registrierung werden Sie Mitglied bei LINGUA. Die
Mitgliedschaft erm&ouml;glicht Ihnen die volle Nutzung der M&ouml;glichkeiten
und das aktive Mitwirken in der Gemeinschaft:
<br><br>
Sie k&ouml;nnen eigene Texte in der Community zur &Uuml;bersetzung
bereitstellen, und sie k&ouml;nnen die Texte der anderen Mitglieder
&uuml;bersetzen. Weiterhin k&ouml;nnen Sie Texte wie &Uuml;bersetzungen bewerten, und
so mit ihrer Stimme guten Texten zu mehr Beachtung verhelfen. 
Vom Tag ihrer Registrierung an erhalten Sie ein Punktekonto, das mit
jedem Tag anw&auml;chst. (siehe auch 
<a href="<TMPL_VAR HELP_MYURL>&index=2">die Beschreibung von LINGUA</a>,
<a href="<TMPL_VAR HELP_MYURL>&index=4">die Ver&ouml;ffentlichung von Texten</a> und
<a href="<TMPL_VAR HELP_MYURL>&index=5">die &Uuml;bersetzung</a>)
<br><br>

Um sich zu registrieren, klicken sie auf "Hier Registrieren" auf der
Navigationsleiste

<!--
<br><br>

<div align="center">
<img src="./templates/reglink.png" width=191 height=121>
</div>
<br>
//-->

Es folgt ein Formular, in das Sie Ihren Namen und ihre E-mail-Adresse
eingeben m&uuml;ssen. Die E-mail-Adresse muss eine funktionierende sein, da
sie ihr Passwort dorthin geschickt bekommen. Es ist nicht m&ouml;glich, mit
der gleichen E-mail-Adresse zwei Registrierungen zu machen. <em>Auch
k&ouml;nnen sie die E-mail-Adresse sp&auml;ter nicht &auml;ndern.</em>
<br>

Weiterhin m&uuml;ssen Sie sich einen Benutzernamen ausdenken (3-10 englische
Schriftzeichen oder Zahlen.) Auch hier gilt: jeden Benutzernamen kann
es nur einmal im System geben.
<br>

Dann k&ouml;nnen Sie noch die Sprache ausw&auml;hlen, in der sich LINGUA ihnen
in Zukunft pr&auml;sentieren soll. Zum Zeitpunkt dieser Dokumentation sind
das nur ein paar, wir hoffen, daﬂ (vielleicht durch die Community)
weitere hinzukommen.
<br>

Weitere Daten brauchen Sie bei der Registrierung nicht
anzugeben. Sobald Sie aber ihr Passwort haben und sich einloggen
k&ouml;nnen, haben Sie Gelegenheit, der Gemeinschaft etwas mehr &uuml;ber sich
mitzuteilen: Sie k&ouml;nnen eine kurze Beschreibung &uuml;ber sich abgeben
sowie eine Liste der Sprachen, die Sie sprechen.
<br>

Nachdem Sie diese Daten eingegeben haben, werden Sie auf der n&auml;chsten
Seite zur Best&auml;tigung ihrer Eintragungen aufgefordert. Wenn Sie mit
&lt;Weiter&gt; best&auml;tigen, schickt LINGUA Ihnen eine E-mail mit Ihrem
Passwort, und damit sind Sie registriert. (Ihr Passwort k&ouml;nnen Sie
sp&auml;ter &auml;ndern)

<br><br>
<b>2 Benutzerdaten &auml;ndern</b>
<br><br>

Sie k&ouml;nnen folgenden Daten bearbeiten oder &auml;ndern:

<ul>
  <li>Ihr Passwort
  <li>Ihre bevorzugte Sprache in LINGUA ("Systemsprache")
  <li>Die Sprachen, die Sie sprechen
  <li> Ihre Beschreibung &uuml;ber Sie selbst
</ul>

Klicken Sie hierzu auf den Link "Pers&ouml;nliche Seite" auf der
Navigationsleiste, nachdem Sie sich eingeloggt haben. 
Es erscheint eine Seite, der Ihren pers&ouml;nlichen Bereich anzeigt.

<!--
<br><br>

<div align="center">
<img src="http://127.127.127.0/cgi-bin/lingua0203/templates/perslink.png" width=152 height=131>
</div>
<br>

Es erscheint eine Seite, der Ihren pers&ouml;nlichen Bereich anzeigt.
//-->

<br><br>
<b>&Auml;ndern des Passwortes</b>
<br><br>

(Auf der Pers&ouml;nlichen Seite)<br>
Klicken Sie auf den "&Auml;ndern"-Knopf neben dem "Passwort" (es wird aus
Sicherheitsgr&uuml;nden nat&uuml;rlich nicht angezeigt.) Sie werden
aufgefordert, ihr neues Passwort zweimal einzugeben. Merken Sie es
sich bitte gut, am Besten, Sie notieren es sich an einem sicheren Ort.

<br><br>
<b>&Auml;ndern der Systemsprache</b>
<br><br>

(Auf der Pers&ouml;nlichen Seite)<br>
Klicken Sie auf den "&Auml;ndern"-Knopf neben der Systemsprache und w&auml;hlen
Sie eine aus.

<br><br>
<b>Bearbeiten / &Auml;ndern der Sprachen</b>
<br><br>

(Auf der Pers&ouml;nlichen Seite)<br>
Klicken Sie im Bereich "Meine Sprachen" auf den
"Bearbeiten"-Knopf. Dort k&ouml;nnen sie die Sprachen, die sie sprechen,
hinzuf&uuml;gen, und dazu, wie gut sie die jeweilige Sprache beherrschen.
Sollten Sie aus Versehen eine falsche ausw&auml;hlen, k&ouml;nnen sie diese auch
wieder l&ouml;schen (einfach den Kenntnisstand der Sprache auf "&uuml;berhaupt
nicht" setzen)

<br><br>
<b>Bearbeiten der pers&ouml;nlichen Beschreibung</b>
<br><br>

(Auf der Pers&ouml;nlichen Seite)<br>
Ihre Beschreibung (bis zu 400 Buchstaben) k&ouml;nnen Sie in verschiedenen
Sprachen angeben. Um Ihre Beschreibung in einer neuen Sprache
anzugeben, klicken Sie im Bereich "Beschreibung Ihrer Person" auf
"Neu", w&auml;hlen dann die Sprache aus und geben die Beschreibung ein.
Eine bereits eingegebene Beschreibung k&ouml;nnen sie sp&auml;ter bearbeiten und
auch wieder l&ouml;schen (dazu einfach beim bearbeiten ein leeres Textfeld
angeben)

</div> <!-- align=justify -->

    <hr>
    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









