<!------------------------------------------------------------------------------>
<!-- NAME: lingua_test_trans_desc.tmpl				 		>				
<!-- 				 				 		>
<!-- DESC: > 	USE to be the translate titel and translate description 						 >
<!--										>
<!-- Author:  Guy Nokam ( floreguy@cs.tu-berlin.de)		 		>
<!------------------------------------------------------------------------------>


<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="method" value="trans_desc">
<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
	<tr valign="top">
	   <td colspan="2">
	       <TMPL_INCLUDE lingua_logo.tmpl>
	  </td>
	</tr>
	<tr valign="top">
 		<td width="200">
    			<TMPL_INCLUDE lingua_left.tmpl>
  		</td>
  		<td bgcolor="#ababab" width="600">

				<TABLE CELLPADDING="5" >
					<TR> 
						<TD align="right" valign="top"><br><font color="blue"><TMPL_VAR PAGE_LANG_002510> &nbsp;&nbsp;</font><font color="red">*</font></td>
						<td colspan="2"> <font size=3 color=red><b> <TMPL_VAR PAGE_LANG_002511>  </b><br></font>
						<SELECT NAME="text_desc_lang_id" size="1">
						<OPTION value= "<TMPL_VAR TEXT_LANG_ID_SELECT>" selected><TMPL_VAR TEXT_LANG_NAME_SELECT></option>

						<TMPL_LOOP TEXT_LOOP_LANG>
						<OPTION value= "<TMPL_VAR TEXT_LANG_ID>"><TMPL_VAR TEXT_LANG_NAME></option>
					        </TMPL_LOOP>
						
					        </SELECT>
						</td>
					</TR>
					<tr>
						<TD align="right" valign="top"><br><TMPL_VAR PAGE_LANG_002512>  &nbsp;&nbsp;</td> 
						<td colspan="2">
						<input type="text"  name="title" size=30 maxlength=20 value=""</TD>

					</tr>
					<TR>
						<TD align="right" valign="top"><br><font color="blue"><TMPL_VAR PAGE_LANG_002513>&nbsp;&nbsp;</font><font color="red">*</font></td> 
						<td colspan="2"><font size=3 color=red><b> <TMPL_VAR PAGE_LANG_002514> </b> <br></font>
						<input type="text"  name="trans_title" size=30 maxlength=20 value="<TMPL_VAR PAGE_LANG_002515>"></TD>
					</TR>

					<br>
					<tr> <td> </td> <td>	<font color="blue"> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </font>	</td> </tr>	

					<TR>
						<TD align="right" valign="top"><br> <TMPL_VAR PAGE_LANG_002516> </td> 
						<td colspan="2">
						<TEXTAREA rows="6" cols="50" NAME="text_desc" maxlength=200> </TEXTAREA>
					</TR>
					<TR>
						<TD align="right" valign="top"><br> <font color="blue"> <TMPL_VAR PAGE_LANG_002517> </font><font color="red">*</font><br></td> 
						<td colspan="2"><font size=3 color=red><b> <TMPL_VAR PAGE_LANG_002518> </b> <br></font>
						<TEXTAREA rows="6" cols="50" NAME="trans_desc" maxlength=200> <TMPL_VAR PAGE_LANG_002519> </TEXTAREA>
					</TR>
					<br>

					<tr>
					<td> </td>
					
					<td colspan="2" align="center"><input type=submit name="send_desc" value="<TMPL_VAR PAGE_LANG_002520>"> </td>				
					<tr>


					</table>
			</td>
</tr>

</table>

<center>© Guy Nokam </center>

<TMPL_INCLUDE lingua_footer.tmpl>


















