<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a href="<TMPL_VAR HELP_MYURL>&index=1">Back to Table of Contents</a>
    <hr>

    <h1 align="center">About Languages</h1>
    <br><br>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup> 
        <col width="100">
        <col width="500">
      </colgroup>

      <tr>
        <td></td>
        <td>
          Languages are the shit
        </td>
      </tr>
    </table>

    <hr>
    <a href="<TMPL_VAR HELP_MYURL>&index=1">Back to Table of Contents</a>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









