<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="text_id" value="<TMPL_VAR TEXT_ID>">
<input type="hidden" name="text_method" value="text_show">
<input type="hidden" name="mes1_dico" value="<TMPL_VAR TEXT_MES1_DICO>">
<input type="hidden" name="mes2_dico" value="<TMPL_VAR TEXT_MES2_DICO>">

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
	<tr valign="top">
	   <td colspan="2">
	       <TMPL_INCLUDE lingua_logo.tmpl>
	  </td>
	</tr>
	<tr valign="top">
 		<td width="200">
    			<TMPL_INCLUDE lingua_left.tmpl>
  		</td>
  		<td bgcolor="#ababab" width="600">

				<TABLE cellspacing="15">

					<TR>	<td><TMPL_VAR PAGE_LANG_002023></td>
						<td><TMPL_VAR PAGE_LANG_002100></td>
						<td><TMPL_VAR PAGE_LANG_002012></TD>
						<td><TMPL_VAR PAGE_LANG_002033></TD>
					</TR>
					<TR> 	<td><TMPL_VAR TEXT_TITLE></td>
						<td><TMPL_VAR TEXT_AUTOR></td>
						<td><TMPL_VAR TEXT_DESCRIPTION></td>
						<td><TMPL_VAR TEXT_LENGTH></td>
					</TR>

				</table>
			</td>
</tr>

</table>

<TMPL_INCLUDE lingua_footer.tmpl>























