<TMPL_INCLUDE lingua_header.tmpl>

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <h1 align="center">Info und Hilfe - Inhalt</h1>
    <table cellspacing="0" cellpadding="2" border="0" width="100%">
      <colgroup>
        <col width="15%">
        <col width="85%">
      </colgroup>
      <tr>
        <td></td>
        <td>
          <ul>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=2">Etwas &uuml;ber LINGUA</a><br><br>
            <li><span class="normal">Benutzerhilfe f&uuml;r LINGUA</span>
              <ul>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=3">
                  Registrierung und Pers&ouml;nlicher Bereich</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=4">
                  Texte ver&ouml;ffentlichen</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=5">
                  Texte &uuml;bersetzen</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=6">
                  Texte bewerten</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=7">
                  Benutzer verwalten (f&uuml;r Administratoren)</a>
               </ul><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=8">LINGUA und Entwicklungsl&auml;nder</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=9">Etwas &uuml;ber Sprachen</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=10">&Uuml;bersetzungsdienste im Internet</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=11">Etwas &uuml;ber Unicode</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=12">Kontakt</a>
          </ul>
        </td>
      </tr>
    </table>


<TMPL_INCLUDE lingua_footer.tmpl>









