<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">Impressum / Kontakt</h1>

<div align="justify">
<span class="normal">

    <table cellspacing="0" cellpadding="2" border="0" width="600">
      <colgroup>
        <col width="100">
        <col width="500">
      </colgroup>
      <tr>
        <td></td>
        <td>
          <ul>
            <li><b>Initiator des Projekts:</b><br><br>
              <ul>
                <li><a class="normal" href="mailto:nazir@cs.tu-berlin.de">Dr. Ing. Nazir Peroz</a><br><br>
              </ul>
            <li><b>Entwickler von LINGUA:</b><br><br>
              <ul>
                <li><a class="normal" href="mailto:sowuinfo@cs.tu-berlin.de">S&ouml;ren Wurch</a><br><br>
                <li><a class="normal" href="mailto:avipach@cs.tu-berlin.de">Alexander Vipach</a><br><br>
                <li><a class="normal" href="mailto:ngapout@cs.tu-berlin.de">Giovanni-Salvador Ngapout-Nchouwat</a><br><br>
                <li><a class="normal" href="mailto:floreguy@cs.tu-berlin.de">Guy-Alain Nokam-Boyom</a><br><br>
                <li><a class="normal" href="mailto:erler@cs.tu-berlin.de">Hendrik Erler</a><br><br>
                <li><a class="normal" href="mailto:misterp@cs.tu-berlin.de">Christian Pothmann</a><br>
              </ul>
          </ul>
        </td>
      </tr>
    </table>

</span>
</div> <!-- align=justify -->

    <hr>
    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









