<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="text_method" value="text_unicode_info">

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
	<tr valign="top">
	   <td colspan="2">
	       <TMPL_INCLUDE lingua_logo.tmpl>
	  </td>
	</tr>
	<tr valign="top">
 		<td width="200">
    			<TMPL_INCLUDE lingua_left.tmpl>
  		</td>
		<td bgcolor="#ababab" width="600">

<TABLE CELLSPACING="5">
          <TR>
            <TD VALIGN="rigth">
		<TMPL_VAR PAGE_LANG_003004><br> 
		<TMPL_VAR PAGE_LANG_003005><br> 
		<TMPL_VAR PAGE_LANG_003006><br> 
		<TMPL_VAR PAGE_LANG_003007><br> 
		<TMPL_VAR PAGE_LANG_003008><br> 
		<TMPL_VAR PAGE_LANG_003009><br> 
	    </td>
	</tr>
        <TR>
            <TD VALIGN="middle">
		<br>
		<TMPL_VAR PAGE_LANG_003004><br> 
		<TMPL_VAR PAGE_LANG_003010><br> 
	    </td>
	</tr>

        <TR>
            <TD VALIGN="middle">
		<br>
		<TMPL_VAR PAGE_LANG_003005><br> 
		<TMPL_VAR PAGE_LANG_003011><br> 
	    </td>
	</tr>


        <TR>
            <TD VALIGN="middle">
		<br>
		<TMPL_VAR PAGE_LANG_003006><br> 
		<TMPL_VAR PAGE_LANG_003014><br> 
	    </td>
	</tr>


       <TR>
            <TD VALIGN="middle">
		<br>
		<TMPL_VAR PAGE_LANG_003007><br> 
		<TMPL_VAR PAGE_LANG_003012><br> 
		<TMPL_VAR PAGE_LANG_003013>
	    </td>
	</tr>


       <TR>
            <TD VALIGN="middle">
		<br>
		<TMPL_VAR PAGE_LANG_003008><br> 
		<TMPL_VAR PAGE_LANG_003014><br> 
	    </td>
	</tr>

  <TR>
            <TD VALIGN="middle">
		<br>
		<TMPL_VAR PAGE_LANG_003009><br> 
		<TMPL_VAR PAGE_LANG_003014><br> 
	    </td>
	</tr>

</table>

</td>
</tr>
</table>
    	



<TMPL_INCLUDE lingua_footer.tmpl>
