<!------------------------------------------------------------------------------>
<!-- NAME: lingua_test_description.tmpl				 		>				
<!-- 				 				 		>
<!-- DESC: Used to put another description of a text in another language        > 							 >
<!--										>
<!-- Author: Giovanni Ngapout(ngapout@cs.tu-berlin.de)		 		>
<!------------------------------------------------------------------------------>


<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="text_id" value="<TMPL_VAR TEXT_ID>">
<input type="hidden" name="method" value="text_description">

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
	<tr valign="top">
	   <td colspan="2">
	       <TMPL_INCLUDE lingua_logo.tmpl>
	  </td>
	</tr>
	<tr valign="top">
 		<td width="200">
    			<TMPL_INCLUDE lingua_left.tmpl>
  		</td>
  		<td bgcolor="#ababab" width="600">

				<TABLE CELLPADDING="5" >
					<TR> 
						<TD align="right" valign="top"><br><TMPL_VAR PAGE_LANG_002008> &nbsp;&nbsp;<font color="red">*</font></td>
						<td colspan="2"> <font size=3 color=red><b><TMPL_VAR TEXT_LANG_MES_002009></b> <br></font>
						<SELECT NAME="text_desc_lang_id" size="1">
						<OPTION value= "<TMPL_VAR TEXT_LANG_ID_SELECT>" selected><TMPL_VAR TEXT_LANG_NAME_SELECT></option>

						<TMPL_LOOP TEXT_LOOP_LANG>
						<OPTION value= "<TMPL_VAR TEXT_LANG_ID>"><TMPL_VAR TEXT_LANG_NAME></option>
					        </TMPL_LOOP>
						
					        </SELECT>
						</td>
					</TR>

					<TR>
						<TD align="right" valign="top"><br><TMPL_VAR PAGE_LANG_002010>&nbsp;&nbsp;<font color="red">*</font></td> 
						<td colspan="2"><font size=3 color=red><b><TMPL_VAR TEXT_TITLE_MES_002011></b> <br></font>
						<input type="text"  name="title" size=30 maxlength=20 value="<TMPL_VAR TEXT_TITLE>"></TD>
					</TR>

					<br>			
					<TR>
						<TD align="right" valign="top"><br> <TMPL_VAR PAGE_LANG_002012><font color="red">*</font><br><TMPL_VAR PAGE_LANG_002026> 200 <TMPL_VAR PAGE_LANG_002027></td> 
						<td colspan="2"><font size=3 color=red><b><TMPL_VAR TEXT_DESC_MES_002013></b> <br></font>
						<TEXTAREA rows="6" cols="50" NAME="text_desc" maxlength=200><TMPL_VAR TEXT_DESC></TEXTAREA>
					</TR>
					<br>

					<tr>
					<td> </td>
					
					<td colspan="2"><input type=submit name="send_desc" value="<TMPL_VAR PAGE_LANG_002014>"> </td>				
					<tr>


					</table>
			</td>
</tr>

</table>


<TMPL_INCLUDE lingua_footer.tmpl>






















