        </td>
      </tr>

      <!-- bottom bar -->
      <tr>
        <td colspan="2" height="10" bgcolor="#f9d852">
        </td>
      </tr>

    </table> <!-- main table -->

  </td>
</tr>
</table> <!-- table for outer border -->

</form>

</body>
</html>
