<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#ababab" width="600">

    <div align="center">
      <h1><TMPL_VAR PAGE_LANG_001010></h1>

      <span class="normal">
        <b><TMPL_VAR PAGE_LANG_001011></b><BR>
        <TMPL_VAR PAGE_LANG_001012><BR>
        (<TMPL_VAR PAGE_LANG_001013>)<BR>
        <b><TMPL_VAR PAGE_LANG_001014></b><BR><BR>
      </span>

      <TMPL_IF USER_IF_REG1_ERR>
        <span class="alert">
          <b><TMPL_VAR PAGE_LANG_001023></b><BR>
          <b><TMPL_VAR USER_ERROR_REG1></b><BR><BR>
        </span>
      </TMPL_IF>

    </div>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="100">
	<col width="200">
        <col width="200">
	<col width="100">
      </colgroup>

      <tr>
        <td></td>
        <td colspan=2>
	  <span class="normal"><TMPL_VAR PAGE_LANG_001015></span>
	</td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
        <td>
	  <input type="text" name="u_inp_username" size="30"
                 maxlength="10" value="<TMPL_VAR USER_USERNAME>">
	</td>
	<td></td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
	<td>
	  <span class="normal"><TMPL_VAR PAGE_LANG_001016></span>
	</td>
	<td>
	  <span class="normal"><TMPL_VAR PAGE_LANG_001017></span>
	</td>
	<td></td>
      </tr>

      <tr>
        <td></td>
	<td>
	  <input type="text" name="u_inp_firstname" size="30"
                 maxlength="50" value="<TMPL_VAR USER_FIRSTNAME>">
	</td>
        <td>
	  <input type="text" name="u_inp_lastname" size="30"
                 maxlength="50" value="<TMPL_VAR USER_LASTNAME>">
	</td>
	<td></td>
      </tr>

      <tr>
        <td></td>
        <td>
	  <span class="normal"><TMPL_VAR PAGE_LANG_001018></span>
	</td>
	<td></td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
        <td>
	  <input type="text" name="u_inp_email" size="30"
                 maxlength="200" value="<TMPL_VAR USER_EMAIL>">
	</td>
	<td></td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
        <td colspan=2>
	  <span class="normal"><TMPL_VAR PAGE_LANG_001019></span>
	</td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
        <td>
	  <select name="u_sel_syslang" size="1">
	    <TMPL_LOOP NAME="USER_LOOP_SYSLANG">
	      <option value="<TMPL_VAR USER_OPTVAL_SYSLANG>" 
	              <TMPL_VAR USER_DEF_SYSLANG>>
	        <TMPL_VAR USER_OPT_SYSLANG>
	    </TMPL_LOOP>
	  </select>
	</td>
	<td></td>
	<td></td>
      </tr>     

      <tr>
        <td></td>
        <td></td>
	<td></td>
	<td align="center">
	  <input type="submit" name="u_sub_reg1"
                 value="<TMPL_VAR PAGE_LANG_001020>">
	</td>
      </tr>     

    </table>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>












