<TMPL_INCLUDE lingua_header.tmpl>
<input type="hidden" name="text_to_trans_id" value="<TMPL_VAR TEXT_ID>">

<table cellspacing="5" cellpadding="2" border="0" width="800">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <table cellspacing="5" cellpadding="0" border="0" align="rigth">
    <tr>
      <td>
	<a class="normal" onclick="<TMPL_VAR TEXT_BACK>"><TMPL_VAR PAGE_LANG_007001></a>
      </td>
<td>&nbsp;</td>
<td colspan=2>
        <TMPL_IF TRANS_ERROR>
          <span class="alert">
            <TMPL_VAR TRANS_ERROR>
          </span>
        </TMPL_IF>

</td>
<td>&nbsp;</td>
    </tr>
    <tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan=2>

        <TMPL_IF TEXT_LANGS_ERROR>
          <span class="alert">
            <TMPL_VAR TEXT_LANGS_ERROR>
          </span>
        </TMPL_IF>
      </td>
<td>&nbsp;</td>
    </tr>
    <tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
      <td>
        <b><TMPL_VAR PAGE_LANG_007017>:</b>
      </td>
      <td>
        <select name="trans_lang">
        <TMPL_LOOP LOOP_TEXT_TRANS_LANG>
          <option value="<TMPL_VAR TEXT_TRANS_LANG_ID>" <TMPL_IF TEXT_TRANS_LANG_IF> selected </TMPL_IF> >
            <TMPL_VAR TEXT_TRANS_LANG_NAME>
          </option>
        </TMPL_LOOP>
        </select>
      </td>
    </tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan=2>&nbsp;</td>
<td>&nbsp;</td>
</tr>   
    <tr>
<td>&nbsp;</td>
      <td>
        <input type="submit" name="text_download" value="<TMPL_VAR PAGE_LANG_008018>" >
      </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
      <td>
        <input type="submit" name="text_trans" value="<TMPL_VAR PAGE_LANG_008016>">
      </td>
    </tr>
    <tr>
	<td>&nbsp;</td>
	<td>
	<TMPL_IF TEXT_DOWNLOAD>
	<a href="<TMPL_VAR TEXT_DOWNLOAD>" onClick="window.open('<TMPL_VAR TEXT_DOWNLOAD>','mywindow','width=400,height=600,menubar=yes,scrollbars=yes'); return false"><TMPL_VAR PAGE_LANG_008017></a>
	</TMPL_IF>
	</td>
    </tr>
    </table>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>



















