<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="method" value="reg1">
<input type="hidden" name="reg_from" value="5">

<input type="hidden" name="u_userid"  value="<TMPL_VAR USER_USERID>">


<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#ababab" width="600">

    <div align="center">
      <h1><TMPL_VAR PAGE_LANG_001045></h1>

      <span class="normal">
        <b><TMPL_VAR PAGE_LANG_001046></B><br>
        <TMPL_VAR PAGE_LANG_001047>
      </span>
    </div>
    <br>
 
  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>












