<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <h1 align="center">Info and Help - Table of Contents</h1>
    <br><br>
    <table cellspacing="0" cellpadding="2" border="0" width="600">
      <colgroup>
        <col width="100">
        <col width="500">
      </colgroup>
      <tr>
        <td></td>
        <td>
          <ul>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=2">About LINGUA</a><br><br>
            <li><span class="normal">User guide to LINGUA</span>
              <ul>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=3">
                  Registration and Personal Page</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=4">
                  Publish your texts</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=5">
                  Translate other's texts</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=6">
                  Rate a text</a>
                <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=7">
                  User Administration (for Admins)</a>
               </ul><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=8">LINGUA's focus on Developing Countries</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=9">About Languages</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=10">Translation services on the Internet</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=11">About Unicode</a><br><br>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=12">Contact LINGUA</a>
          </ul>
        </td>
      </tr>
    </table>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









