<html>
<head>
	<title><TMPL_VAR PAGE_TITLE></title>
	<meta http-equiv="Content-type" content="text/html; charset=<TMPL_VAR PAGE_CHARSET>">

	<style type="text/css">
	a.small, a.normal, a.big, span.alert, span.small, span.normal, span.big,
	td, tr, p, br, nobr, center, div {
		font-family: Arial Unicode MS, Helvetica, Arial, Verdana;
		font-size: 12pt;
		color: #000000;
	}

	span.alert {
		color: #ff0000;
	}

	a.small, span.small {
		font-size: 8pt;
	}

	a.normal, span.normal {
		font-size: 10pt;
	}

	a.big, span.big, span.error {
		font-size: 12pt;
	}

	a:link    { color: #ffffff; text-decoration: underline; }
	a:active  { color: #ffffff; text-decoration: underline; }
	a:visited { color: #ffffff; text-decoration: underline; }
</style>
</head>
<body>
<form>
<center><input type="button" value="<TMPL_VAR CLOSE_WIN>" onClick="window.close()"></center><br>
    <table cellspacing="5" cellpadding="0" border="0" align="rigth">
    <tr>
	<td> <b>
		<TMPL_VAR TEXT_HEADER>
	</b>
	</td>
   </tr>

    <tr>
	<td>
		XXXXX
	</td>
   </tr>

    <tr>
	<td>
		<TMPL_VAR TEXT_DESC>
	</td>
   </tr>

    <tr>
	<td>
		XXXXX
	</td>
   </tr>

    <tr>
	<td>
		<TMPL_VAR TEXT_TEXT>
	</td>
   </tr>


   </table>

</form>

</body>
</html>





