<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">Etwas &uuml;ber Unicode</h1>

<div align="justify">
<span class="normal">

Unicode ist ein weltweiter Zeichensatz-Standard, der die g&auml;ngigsten Buchstaben 
und Zeichen enth&auml;lt, die weltweit in der  Gesch&auml;ftswelt Verwendung finden. Mit 
Hilfe von Systemen, die Unicode verarbeiten k&ouml;nnen, wird die Erstellung und 
Verwaltung von Software f&uuml;r verschiedenste Sprachen stark vereinfacht. Anstatt 
f&uuml;r jede Sprache einen eigenen Zeichensatz einsetzen zu m&uuml;ssen, erlaubt Unicode 
das Hantieren von mehrsprachigen Texten allein mit dem Unicode Zeichensatz. 
<br><br>

Unicode verwendet 16 Bit zur Darstellung der Zeichen, damit sind &uuml;ber 60.000 
verschiedene Zeichen gleichzeitig in einem Dokument m&ouml;glich. Unicode weist jedem
Zeichen eine 2 Byte lange Nummer zu (von 0 bis 65535), sodass das Zeichen in der
Computerwelt unabh&auml;ngig von Plattform, Programm und Sprache verwendet werden kann.


<br><br>
<b>Unicode unter Windows</b>
<br><br>

** Erstellen unter Windows Textdateien im Unicodeformat, die sowohl deutsche als auch
kyrillische Zeichen enthalten.
<br><br>

Unter Windows NT klappt es mit dem normalen Editor, wenn man als Standardschrift eine 
Schrift mit kyrillischem Subset einstellt (z.B. Arial).  
<br><br>

Unter Windows 98 klappt es so nicht, der Editor von Windows 98 kann kein Unicode. Die
beste L&ouml;sung unter Win98 ist immer noch Word 2000: In Word 2000 w&auml;hlt "Speichern 
unter...", dann als Dateityp "Codierter Text (*.txt)", als n&auml;chstes wird man dann in 
einem Dialogfenster nach der gew&uuml;nschten Codierung gefragt, hier w&auml;hlt man "Unicode" 
und voila hat man ein Unicode-Textdokument! (Das ist wirklich ein reines Textdokument
ohne irgendwelche Formatierungen.)
<br><br>

Auf die gleiche Weise kann man Text auch in beliebigen anderen Zeichens&auml;tzen abspeichern, 
z.B. Kyrillisch (Windows), Kyrillisch (Mac) usw. Eine Vorschau zeigt im Text die 
Zeichen rot an, die im gew&auml;hlten Zeichensatz nicht unterst&uuml;tzt werden  und beim Speichern 
verloren gehen w&uuml;rden.<br>
Wirklich gut.
<br><br>

Alternativ gibt es f&uuml;r Windows einen einfachen Unicode-Texteditor namens "SC Unipad" 
(Freeware), erh&auml;ltlich unter www.sharmahd.com, auch sehr empfehlenswert.


<br><br>
<b>Unicode: Vorteile (+) und Nachteile (-)</b>
<br><br>
 
<ul>
  <li> Alle Dateien sind Bytefolgen  als Text interpretierbar <br>
       - also keine Systemunterst&uuml;tzung f&uuml;r index-sequentielle Organisation <br>
       - Jedoch zugriff auf Puffer und byteweise Adressierung unterst&uuml;tzt <br><br>
  <li> Bearbeitbar mit Texteditor <br>
       + Kein spezielles Werkzeug abh&auml;ngig vom Dateityp n&ouml;tig <br>
       - semantische Konsequenz der Bearbeitung nicht &uuml;berpr&uuml;ft <br><br>
  <li> Ein/Ausgaben mit wenigen Ausnahmen als Text, nicht bin&auml;r <br>
       + Plattformenabh&auml;ngig , da ASCII/ISO-8859 /Unicode verschl&uuml;sselt
</ul>


<br>
<b>Warum Unicode?</b>
<br><br>

Jeder, der ausgiebig im Internet unterwegs ist, kennt das: Suchmaschinen spucken 
Ergebnisse manchmal als Buchstabensuppe aus, Seiten aus Skandinavien sehen aus, 
als h&auml;tte man mit der Schrotflinte auf den Text geschossen, und auf russischen 
oder asiatischen Seiten herrscht typographischer Notzustand: !&%&uuml;?. Ursache 
daf&uuml;r sind unterschiedliche Zeichens&auml;tze in den jeweiligen L&auml;ndern: 
<br><br>

1965 hatte das amerikanische Institut f&uuml;r Normung, ANSI, den amerikanischen 
Standard-Code f&uuml;r Informationsaustausch festgelegt, der erst einmal mit 7 Bit und 
128 Zeichen auskam und auf Umlaute und andere Sonderzeichen verzichtete.
<br><br>

Anfang der 70er Jahre nutzten deutsche Informatiker die Codepl&auml;tze der eckigen 
Klammern, um Umlaute darzustellen. Auch in anderen L&auml;ndern entstanden eigene 
Zeichens&auml;tze. Mit der Einf&uuml;hrung des PC verwendete IBM das 8. Bit eines kompletten 
Bytes f&uuml;r Sonderzeichen wie Umlaute. Der IBM-Zeichensatz enthielt zwar die 128 
ASCII-Zeichen an den urspr&uuml;nglichen Stellen, doch genauso viele Zeichen unterschieden 
sich. Die internationale Organisation f&uuml;r Normen, ISO, begegnete in den 80er Jahren 
dem Wildwuchs bei den 8-Bit-Codierungen recht erfolgreich mit der Serie von 
ISO-8859-Standards. Weitverbreitet ist ISO 8859-1, oft auch ISO Latin-1 genannt. In 
ihm sind die Zeichen der meisten europ&auml;ischen Sprachen zusammengefasst. <br>

Im Chinesischen, Japanischen und Koreanischen bilden aber nicht Buchstaben die 
kleinsten Texteinheiten, sondern Schriftzeichen, von denen es Zehntausende gibt. Das 
sprengt das Fassungsverm&ouml;gen einer 8-Bit-Codierung; man verwendet deshalb in Fernost
eine 16-Bit-Codierung und spezielle Umschaltverfahren, die mit reservierten 
Steuerzeichen arbeiten. 
<br><br>

Ein &Uuml;ber-Alphabet - Unicode - soll den Wirrwarr beenden. Ende der 80er Jahre wurde der
Ruf nach einem neuen internationalen Standard f&uuml;r die Zeichendarstellung laut. Er sollte
ganz ohne Sonderf&auml;lle auskommen und m&ouml;glichst alle Zeichen aller Sprachen des Planeten in
einem Zahlenraum vereinigen. Unicode war geboren.
<br><br>

In Unicode hat jedes Zeichen einen 16-Bit-Code. Die ersten 256 Pl&auml;tze entsprechen ISO 
Latin-1. Die R&uuml;ckw&auml;rtskompatibilit&auml;t ist jedoch nicht so einfach. Wenn nicht besondere
Codierungen (UTF-8) verwendet werden, wird der Buchstabe A in Unicode zu 0041, der 
ASCII-Code w&auml;re dagegen 41 (jeweils hexadezimal). 
<br><br>

Der 16-Bit Code des Unicode Systems bietet einen Zahlenraum ("code space") f&uuml;r &uuml;ber 65536
Zeichen. In der Unicode 2.0 Version sind knapp 30.000 vom Unicode-Konsortium offiziell 
vergeben. In der Version 3.0, sind bereits knapp 40.000 Zeichen vergeben. Diese Version 
enth&auml;lt bereits die Zeichen f&uuml;r so allt&auml;gliche Bed&uuml;rfnisse, wie das Schreiben mit 
altgermanischen Runen, oder das Kommunizieren mit den knapp 50.000 Cherokee-Indianer in 
Oklahoma. Der Rest ist in Reserve. Jedes Zeichen, welches neu aufgenommen werden soll muss
beantragt und von der Organisation abgesegnet werden: <br>

Innerhalb des Zahlenraums ("code space") sind zusammengeh&ouml;rige Zeichen in sogenannten 
Skripten zusammengefasst: Auf das lateinische Alphabet folgen griechische, kyrillische, 
hebr&auml;ische, arabische, indische und andere Skripte, dann Satzzeichen und Symbole; weiter
geht es mit Hiragana, Katakana, Bopomofo, Hangul.  
<br><br>

Eine besondere Leistung haben die Wissenschaftler bei den zirka 31.000 Schriftzeichen des
chinesischen, japanischen und koreanischen (CJK-Texte) vollbracht. In Unicode kommen etwa
21.000 Ideogramme vor, denn 10.000 Schriftzeichen sehen in diesen drei asiatischen 
Sprachen gleich aus. Was nicht heiﬂt, dass sie immer die gleiche Bedeutung h&auml;tten - hier 
ist von Vorteil, dass Unicode sprachenneutral ist. Gegen Ende des Zahlenraumes sind 
6.000 Pl&auml;tze f&uuml;r den internen Gebrauch reserviert, zum Beispiel f&uuml;r Firmensymbole.
<br><br>

Unicode gen&uuml;gen vier Steuerzeichen: 

Je eines f&uuml;r Zeilenende und Absatzende sowie zwei f&uuml;r die Schreibrichtung. 
Das Steuerzeichen f&uuml;r die Schreibrichtung von rechts nach links kommt zum Beispiel im 
Arabischen vor, das Steuerzeichen von links nach rechts hingegen nur am Ende einer 
gegenl&auml;ufigen Passage als Markierung f&uuml;r den Richtungswechsel. Der Standard fasst 
allm&auml;hlich Fuﬂ: Sowohl Java als auch Windows NT arbeiten intern mit Unicode. NT enth&auml;lt
mit Lucida Sans Serif einen 1.300 Zeichen umfassenden Font. Und auch MacOS von Apple 
gestattet Dateinamen in Unicode. Auﬂerdem hat das World Wide Web Consortium (WWWC bzw. 
W3C) Unicode in den Standard von HTML4.0 aufgenommen. Jetzt liegt es vor allem an den 
Anwendungsentwicklern, ob Internet oder Textverarbeitungen wirklich zu universellen
Werkzeugen werden. 
<br><br>

<b>Hinweis</b>: Es gibt eine Schrift, welche die alle vergebenen Unicode-Zeichen gem&auml;ss der 
Unicode Version 2 darstellen kann. Somit kann diese Schriftart die Zeichen auch vieler 
zentral- und ostasiatische Schriftsprachen darstellen. Diese Schrift nennt sich "Arial 
Unicode MS". Die Schrift ist nicht frei verf&uuml;gbar, sondern muss z.B. im Zusammenhang mit 
dem MS Office2000 erworben werden. Diese Schriftdatei ist 23 MB groﬂ und befindet sich z.B. 
auf der MS Office2000 CD 2 und zwar unter dem Namen Arialuni.ttf in komprimierter Form im 
OFFCD2_1.CAB.


<br><br>
<b>Unicode-Links</b>
<br><br>

 ** Unicode-Texteditor (Freeware. sehr empfehlenswert) <br>
 <a class="normal" href="www.sharmahd.com" target=blank>www.sharmahd.com</a> (Windows 95/ 98 / NT 4.0 / 2000)<br><br>
 ** Unicode Tabellen (Universal Character Set) - PDF Format ( 3.4 MB ) <br>
 <a class="normal" href="http://mypage.bluewin.ch/reprobst/PDF/UCS.pdf" target=blank>
   http://mypage.bluewin.ch/reprobst/PDF/UCS.pdf</a> <br><br>
 ** Wo kann ich den Unicode eines Zeichens finden, bzw. eine Tabelle f&uuml;r eine Unicode-Familie erstellen? <br>
 <a class="normal" href="http://mypage.bluewin.ch/reprobst/WordFAQ/Unicode.htm" target=blank>
   http://mypage.bluewin.ch/reprobst/WordFAQ/Unicode.htm</a> <br><br>
 ** Welche Schriften welchen Unicode-Bereich abdecken? <br>
 <a class="normal" href="http://www.hclrss.demon.co.uk/unicode/fontsbyrange.html" target=blank>
   http://www.hclrss.demon.co.uk/unicode/fontsbyrange.html</a> <br><br>
 ** Kostenlose Schriften von Microsoft und andere Links <br>
 <a class=normal" href="http://privat.schlund.de/R/Rainer_Seitel/unicode.html" target=blank>
   http://privat.schlund.de/R/Rainer_Seitel/unicode.html</a> <br><br>
 ** Test f&uuml;r kyrillische Unicode-Zeichen <br>
 <a class="normal" href="http://home.germany.net/100-163279/illeguan/unicode.htm" target=blank>
   http://home.germany.net/100-163279/illeguan/unicode.htm</a> 

</span>
</div> <!-- align=justify -->

    <hr>
    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









