<TMPL_INCLUDE lingua_header.tmpl>


    <h1 align="center"><TMPL_VAR PAGE_LANG_001110> <TMPL_VAR USER_USERNAME></h1>

    <br>

    <span class="normal">
      <div align="center"><b><TMPL_VAR PAGE_LANG_001111></b></div>
    </span>
    <br><br>

    <table cellspacing="0" cellpadding="2" border="0" width="100%">

      <colgroup>
        <col width="50%">
        <col width="50%">
      </colgroup>

      <tr>
	<td align="right">
	  <select name="u_sel_syslang" size="1">
	    <TMPL_LOOP NAME="USER_LOOP_LANG">
	      <option value="<TMPL_VAR USER_OPTVAL_LANG>" <TMPL_VAR USER_DEF_LANG>>
	        <TMPL_VAR USER_OPT_LANG>
	    </TMPL_LOOP>
	  </select>
	</td>
	<td>
	  <input type="submit" name="u_sub_syslang"
	         value="<TMPL_VAR PAGE_LANG_001112>">
	</td>
      </tr>  

    </table>


<TMPL_INCLUDE lingua_footer.tmpl>









