<TMPL_INCLUDE lingua_header.tmpl>


    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">&Uuml;bersetzungsdienste im Internet</h1>

<div align="justify">
<span class="normal">

<b>1. Maschinelle &Uuml;bersetzungsdienste</b>
<br><br>

    Es gibt inzwischen unz&auml;hlig viele &Uuml;bersetzungsmaschienen im Internet 
    wie z.B. von Google, Babelfish, Systran, GPl Trans, e-Lingo, FreeTranslation, 
    InterTran. Auf 
    <a class="normal" href="http://www.babelfish.org" target=blank>www.babelfish.org</a> 
    sind weitere &Uuml;bersetzungsmaschiene zu finden. All diese maschinellen &Uuml;bersetzungsdienste 
    sind kostenfrei f&uuml;r jeden mit Internetzugang zu benutzen. Allerdings 
    ist die Qualit&auml;t der maschinellen &Uuml;bersetzung relativ schlecht, 
    wenn mehr als nur ein Wort oder ein Satz &uuml;bersetzt weden soll, da diese 
    Maschinen nicht f&auml;hig sind die Semantik, sondern nur die Syntax(Grammatik) 
    der menschlichen Sprache zu verstehen. Man mu&szlig; jedoch vorsichtig sein 
    bei der Behauptung, da&szlig; heutige Maschinen die Grammatik der menschlichen 
    Sprache verstehen k&ouml;nnen, denn die Grammatik der menschlichen Sprache 
    hat sehr viele Regeln und Ausnahmen, welche nach meinem Wissenstand noch nicht 
    alle formuliert bzw. aufgeschrieben wurden. Dennoch sind maschinelle &Uuml;bersetzungssysteme 
    schon ein gro&szlig;er Vorteil, wenn man bedenkt welchen Aufwand erst die 
    &Uuml;bersetzung mit einem W&ouml;rterbuch macht.

<br><br>
<b>1.1 Arbeitsweise maschineller &Uuml;bersetzungsdienste in 3 Stufen </b> 
<br><br>
1.Stufe Pre-Editing (inhaltliche Vorbereitung)
<br><br>

    Der Ursprungstext wird auf die &Uuml;bersetzung vorbereitet. S&auml;tze 
    werden vereinfacht, komplizierte Verschachtelungen aufgel&ouml;st. 
    Zweideutige Begriffe werden m&ouml;glichst eliminiert oder durch eindeutige 
    ersetzt. Au&szlig;erdem werden Rechtschreibung und Zeichensetzung 
    gr&uuml;ndlich auf Korrektheit &uuml;berpr&uuml;ft. Ein einfacher 
    Buchstabendreher kann den ganzen Satz im Ergebnis entstellen. Weiterhin 
    wird der Text terminologisch ausgerichtet. Durch die begriffliche 
    Zuordnung k&ouml;nnen wir der Software mitteilen, welchem Fachbereich 
    der Text zugeh&ouml;rig ist und welche Terminologie schwerpunktm&auml;&szlig;ig 
    Verwendung finden soll. Dies geschieht in der Praxis maschineller 
    &Uuml;bersetzung durch Einbindung externer Fachw&ouml;rterb&uuml;cher 
    oder eigener vorbereiteter, benutzerspezifischer W&ouml;rterb&uuml;cher 
    bei der &Uuml;bersetzung. [1]

<br><br>
2. Stufe Maschineller &Uuml;bersetzungsprozess
<br><br>

    Jetzt wird der Text vom Computer bzw. von der &Uuml;bersetzungssoftware 
    automatisch, also maschinell, &uuml;bersetzt. Dieser Proze&szlig; 
    wird anfangs mehrmals wiederholt. Fehlende Begriffe werden vom Programm 
    ermittelt, im Benutzerw&ouml;rterbuch korrigiert bzw. erg&auml;nzt. 
    Wiederholungen dieses Prozesses sind jedoch nur bei Verarbeitung von 
    Texten mit noch weitgehend unbekannter Terminologie erforderlich. 
    Im Laufe der Arbeit mit dem Programm sind die W&ouml;rterb&uuml;cher 
    meist ausreichend trainiert, so da&szlig; der Proze&szlig; dieser 
    Stufe einmalig stattfindet. [1]

<br><br>
3. Stufe Post-Editing (Nachbearbeitung)
<br><br>

    Abschlie&szlig;end wird der Text in der Textverarbeitung nachbereitet. 
    Satzstellungen werden ggf. ver&auml;ndert, einzelne Begriffe ausgetauscht. 
    Diese Stufe ist besonders entscheidend f&uuml;r das Ergebnis, denn 
    jetzt wird dem maschinell verarbeiteten Text, manuell &quot;Intelligenz 
    zugef&uuml;hrt&quot;. [1]

<br><br>
<b>2. Manuelle &Uuml;bersetzungsdienste</b>
<br><br>

    Unter manuellen &Uuml;bersetzungsdiensten ist in erster Linie die &Uuml;bersetzung 
    von Texten einer Sprache in andere Sprachen durch professionelle &Uuml;bersetzer 
    zu verstehen. Bei den &Uuml;bersetzern handelt es sich um menschliche Individuen. 
    Die hier betrachteten manuellen &Uuml;bersetzungsdienste sind im Internet 
    vertreten und werden im folgenden unter ergonomischen Gesichtspunkten wie 
    Preise, Aufbau (Weblayout), Dokumentformate, Kategorien der zu &uuml;bersetzenden 
    Texte, Bestellvorgang und Sprachangebot unter die Lupe genommen. Wir haben 
    uns die &Uuml;bersetzungsdienste 
    <a class="normal" href="http://www.translated.net" target=blank>www.translated.net</a>, 
    <a class="normal" href="http://www.translateexpress.com" target=blank>www.translateexpress.com</a> und 
    <a class="normal" href="http://www.berlitzit.com" target=blank>www.berlitzit.com</a> 
    etwas n&auml;her 
    angeschaut und miteinander verglichen. Die gr&ouml;&szlig;ten Unterschiede 
    sind uns zwischen 
    <a class="normal" href="http://www.translated.net" target=blank>www.translated.net</a> und 
    <a class="normal" href="http://www.berlitzit.com" target=blank>www.berlitzit.com</a> aufgefallen. Bei 
    <a class="normal" href="http://www.berlitzit.com" target=blank>www.berlitzit.com</a> ist uns die gute 
    Benutzerf&uuml;hrung aufgefallen und 
    <a class="normal" href="http://www.translated.net" target=blank>www.translated.net</a> 
    gibt dem Kunden die M&ouml;glichkeit n&auml;heres &uuml;ber die &Uuml;bersetzer, 
    welche hinter dem System stecken, zu erfahren.

<br><br>
<b>2.1 Vorteile manueller &Uuml;bersetzungsdienste</b> 
<br><br>

    Es liegt auf der Hand, da&szlig; ein professioneller menschlicher &Uuml;bersetzer 
    heutzutage einen Text besser als eine Maschine &uuml;bersetzen kann, da 
    er sich mit der Semantik des Textes und mit Grammatik der Quellsprache 
    und der Grammatik der Zielsprachen weit besser auskennt als ein heutiges 
    Computerprogramm. Er ist somit in der Lage den Inhalt eines Textes von 
    einer Sprache in eine andere Sprache, unter Ber&uuml;cksichtigung der 
    Redensart der Quellsprache und der Zielsprache, zu konvertieren.

<br><br>
<b>2.2 Nachteile manueller &Uuml;bersetzungsdienste</b>
<br><br>

    Ein Nachteil zu einer maschinellen &Uuml;bersetzung ist die Zeit. Ein 
    menschlicher &Uuml;bersetzer wird in der Regel wesentlich mehr Zeit ben&ouml;tigen 
    einen Text zu &uuml;bersetzen als ein Computerprogramm, da der Computer 
    in Sachen Textverarbeitung wesentlich Leistungsf&auml;higer ist als ein 
    Mensch. <br>

    Ein weiterer Nachteil sind die Kosten. Die bisher bekannten manuellen 
    &Uuml;bersetzungssysteme nehmen dem Kunden eine ganze Menge Geld f&uuml;r 
    die &Uuml;bersetzung der Texte ab, so da&szlig; sich der Kunde gut &uuml;belegen 
    mu&szlig;, ob er die Leistung f&uuml;r den Preis in Anspruch nimmt. Sicherlich 
    werden Menschen mit geringen Einkommen diese 
    &Uuml;bersetzungsdienste nicht in Anspruch nehmen. Im Zeitalter der Globalisierung 
    und des Internets werden durch diesen Nachteil gerade Sprachen aus Entwicklungsl&auml;ndern 
    verdr&auml;ngt und gehen verloren.

<br><br>
<b>Quellen</b>
<br><br>

[1] Heisoft AG, 50944 K&ouml;ln . Maschinelle &Uuml;bersetzung 
  . <a class="normal" href="http://www.heisoft.de/web/ssvt.htm#Stufen" target=blank>http://www.heisoft.de/web/ssvt.htm#Stufen</a> 
  . &uuml;berpr&uuml;ft am 8.11.2001

</span>
</div> <!-- align=justify -->

    <hr>
    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>


<TMPL_INCLUDE lingua_footer.tmpl>









