<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="text_id" value="<TMPL_VAR TEXT_ID>">
<input type="hidden" name="trans_text_id" value="<TMPL_VAR TRANS_TEXT_ID>">
<input type="hidden" name="text_method" value="text_message_way">
<input type="hidden" name="show_text" value="show_text">

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
	<tr valign="top">
	   <td colspan="2">
	       <TMPL_INCLUDE lingua_logo.tmpl>
	  </td>
	</tr>
	<tr valign="top">
 		<td width="200">
    			<TMPL_INCLUDE lingua_left.tmpl>
  		</td>
  		<td bgcolor="#ababab" width="600">

				<TABLE cellspacing="15">

					<TR>	<td><TMPL_VAR PAGE_LANG_002023></td>
						<td><TMPL_VAR PAGE_LANG_002100></td>
						<td><TMPL_VAR PAGE_LANG_002012></TD>
						<td><TMPL_VAR PAGE_LANG_002033></TD>
						<td><TMPL_VAR PAGE_LANG_002102></TD>
						<td><TMPL_VAR PAGE_LANG_002103></td>
						<td><TMPL_VAR PAGE_LANG_002104></td>
						<td><TMPL_VAR PAGE_LANG_002105></td>
						<td><TMPL_VAR PAGE_LANG_002116></td>
						<td><TMPL_VAR PAGE_LANG_002101></TD>
					</TR>
					<TR> 	<td><TMPL_VAR TEXT_TITLE></td>
						<td><TMPL_VAR TEXT_AUTOR></td>
						<td><TMPL_VAR TEXT_DESCRIPTION></td>
						<td><TMPL_VAR TEXT_LENGTH></td>
						<td><TMPL_VAR TEXT_ORIG_LANG></td>
						<td>
							<SELECT NAME="text_trans_lang_id" size="1">

							<OPTION value= "<TMPL_VAR TEXT_TRANS_LANG_ID_SELECT>" selected><TMPL_VAR TEXT_TRANS_LANG_NAME_SELECT></option>

							<TMPL_LOOP TEXT_LOOP_TRANS_LANG>
							<OPTION value= "<TMPL_VAR TEXT_TRANS_LANG_ID>"><TMPL_VAR TEXT_TRANS_LANG_NAME></option>
					        	</TMPL_LOOP>

					        	</SELECT>
						</td>
						<td><TMPL_VAR TEXT_RATING></td>
						<td><TMPL_VAR TEXT_RATING_NUMBER></td>
						<td><TMPL_VAR TEXT_SUBMIT_TIME></td>
						<td><TMPL_VAR TEXT></td>
					</TR>

				</table>


				<p>
					<TMPL_VAR PAGE_LANG_002112><!-- content rating -->
					<TMPL_VAR PAGE_LANG_002115><!-- translation rating -->
				</p>
				<table>

					<TR>

						<td><input name=rating type="radio" value="very_good"><TMPL_VAR PAGE_LANG_002107></td>
						<td><input name=rating type="radio" value="good"><TMPL_VAR PAGE_LANG_002108></td>
						<td><input name=rating type="radio" value="good"><TMPL_VAR PAGE_LANG_002109></td>
						<td><input name=rating type="radio" value="good"><TMPL_VAR PAGE_LANG_002110></td>
						<td><input name=rating type="radio" value="good"><TMPL_VAR PAGE_LANG_002111></td>
						<td><input type="submit" name="text_rating" value="<TMPL_VAR PAGE_LANG_002113>"></td>
					</TR>
				</table>
				<p>
					<input type="submit" name="text_trans_contents" value="<TMPL_VAR PAGE_LANG_002106>">
					<input type="submit" name="delete_text" value="<TMPL_VAR PAGE_LANG_002114>">
				</p>
			</td>
</tr>

</table>

<TMPL_INCLUDE lingua_footer.tmpl>























