<TMPL_INCLUDE lingua_header.tmpl>


    <h1 align="center"><TMPL_VAR PAGE_LANG_001139> <TMPL_VAR USER_USERNAME></h1>

    <br>

    <div align="center">
      <span class="normal">
        <b><TMPL_VAR PAGE_LANG_001140></b>
	<br><br>
	<input type="submit" name="u_sub_passwd"
	       value="<TMPL_VAR PAGE_LANG_001141>">
      </span>
    </div>


<TMPL_INCLUDE lingua_footer.tmpl>









