<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="text_id" value="<TMPL_VAR TEXT_ID>">
<input type="hidden" name="parent_id" value="<TMPL_VAR PARENT_ID>">
<input type="hidden" name="text_title" value="<TMPL_VAR TEXT_TITLE>">
<input type="hidden" name="trans_text_id" value="<TMPL_VAR TRANS_TEXT_ID>">
<input type="hidden" name="text_method" value="text_message_way">
<input type="hidden" name="show_text" value="show_text">
<input type="hidden" name="delete_text" value="delete_text">
<input type="hidden" name="delete_trans_ok" value="delete_trans_ok">
<input type="hidden" name="author_id" value="<TMPL_VAR AUTHOR_ID>">
<input type="hidden" name="cat_lang_id" value="<TMPL_VAR CAT_LANG_ID>">


  <h2 align="left"><b><TMPL_VAR PAGE_LANG_007300></b></h2>
  <table width="100%" border="0">
    <tr>
      <td>
        <table border="0" align="left" width="100%">
          <tr>
            <td valign="top" align="left">
              <table border="0">
                <tr> <!-- link to Category -->
                  <td><TMPL_VAR PAGE_LANG_007301></td>
                  <td><a class="normal" href="<TMPL_VAR CAT_LINK>"><TMPL_VAR TEXT_CAT></a></td>
                </tr>
                <tr> <!-- Link to Author -->
                  <td><TMPL_VAR PAGE_LANG_007302></td>
                  <td><a class="normal" href="<TMPL_VAR AUTHOR_LINK>"><TMPL_VAR TEXT_AUTOR></a></td>
                </tr>
		<tr> <!-- Original-Text-Link -->
                  <td><TMPL_VAR PAGE_LANG_007305></td>
                  <td><a class="normal" href="<TMPL_VAR ORIGINAL_TEXT_LINK>"><TMPL_VAR ORIGINAL_TEXT_TITEL></a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" border="0">
	  <tr> <!-- Description -->
            <td><TMPL_VAR PAGE_LANG_007303></td>
            <td><TMPL_VAR TEXT_DESCRIPTION></td>
          </tr>
          <tr>
            <td width="6%" valign="top"><TMPL_VAR PAGE_LANG_007304></td>
            <td width="94%" align="left" valign="top"><TMPL_VAR TEXT></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<TMPL_INCLUDE lingua_footer.tmpl>























