<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="method" value="reg1">
<input type="hidden" name="reg_from" value="4">

<input type="hidden" name="u_userid"  value="<TMPL_VAR USER_USERID>">


<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#ababab" width="600">

    <div align="center">
      <h1><TMPL_VAR PAGE_LANG_001034></h1>

      <TMPL_IF NAME="USER_IF_INP_ERROR">
        <span class="alert">
          <TMPL_VAR USER_REG1_ERROR><BR><BR>
        </span>
	<br>
      </TMPL_IF>

      <span class="normal">
        <TMPL_VAR PAGE_LANG_001035><BR>
        <TMPL_VAR PAGE_LANG_001036><BR>
      </span>
    </div>
    <br>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="100">
        <col width="400">
	<col width="100">
      </colgroup>

      <tr>
        <td></td>
        <td align="right">
	  <span class="normal">
	    <TMPL_VAR PAGE_LANG_001037>:&nbsp;
	  </span>
	  <select name="u_sel_desclang" size="1">
	    <TMPL_LOOP USER_LOOP_DESCLANG>
	      <option value="<TMPL_VAR USER_OPTVAL_DESCLANG>">
	        <TMPL_VAR USER_OPT_DESCLANG>
	    </TMPL_LOOP>
	  </select>
  	</td>
	<td></td>
      </tr>     

      <tr><td>&nbsp;</td></tr>

      <tr>
        <td></td>
        <td align="center">
	  <span class="normal">
	    <TMPL_VAR PAGE_LANG_001038>:&nbsp;
	  </span>
	  <br>
	  <textarea name="u_inp_desc" rows="8" cols="60"
	            maxlength="400">
          </textarea>
  	</td>
  	<td></td>
      </tr>     


      <tr><td>&nbsp;</td></tr>

      <tr>
        <td></td>
	<td align=right>
	  <input type="submit" name="u_sub_reg4more"
	         value="<TMPL_VAR PAGE_LANG_001039>">
	  &nbsp;
	</td>
	<td>
	  <input type="submit" name="u_sub_reg4"
                 value="<TMPL_VAR PAGE_LANG_001028>">
	</td>
      </tr>     

    </table>
 
  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>












