<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <h1 align="center">Hilfe - Inhalt</h1>
    <br><br>
    <table cellspacing="0" cellpadding="2" border="0" width="600">
      <colgroup>
        <col width="100">
        <col width="500">
      </colgroup>
      <tr>
        <td></td>
        <td>
          <ul>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=2">Etwas &uuml;ber Sprachen</a>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=3">&Uuml;bersetzungsdienste im Internet</a>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=4">Etwas &uuml;ber LINGUA</a>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=5">Benutzerhilfe f&uuml;r LINGUA</a>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=6">LINGUA und Entwicklungsl&auml;nder</a>
            <li><a class="normal" href="<TMPL_VAR HELP_MYURL>&index=7">Etwas &uuml;ber Unicode</a>
          </ul>
        </td>
      </tr>
    </table>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









