<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <h1 align="center"><TMPL_VAR PAGE_LANG_001174></h1>

<!-- Part 1: General Information (name etc) ---------------------------------->
    
    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="100">
        <col width="200">
        <col width="200">
        <col width="100">
      </colgroup>
      
      <tr>
        <td></td>
        <td>
          <span class="normal"><TMPL_VAR PAGE_LANG_001175>:</span>
        </td>
        <td>
          <span class="normal"><TMPL_VAR USER_USERNAME></span>
        </td>
        <td></td>
      </tr>     

      <tr>
        <td></td>
        <td>
          <span class="normal"><TMPL_VAR PAGE_LANG_001176>:</span>
        </td>
        <td>
          <span class="normal"><TMPL_VAR USER_LEVEL></span>
        </td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>
          <span class="normal"><TMPL_VAR PAGE_LANG_001177>:</span>
        </td>
        <td>
          <TMPL_IF USER_IF_BLOCKED>
            <span class="alert">
          <TMPL_ELSE>
            <span class="normal">
          </TMPL_IF>
	  <TMPL_VAR USER_STATUS></span>
        </td>
        <td></td>
      </tr>

      <!-- if user's blocked, show since when and by who ---------------------->
      <TMPL_IF USER_IF_BLOCKED>
        <tr>
          <td></td>
          <td>
            <span class="normal"><TMPL_VAR PAGE_LANG_001194>:</span>
          </td>
          <td>
            <span class="normal"><TMPL_VAR USER_BLOCKED_BY></span>
          </td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td>
	    <a href="mailto:<TMPL_VAR USER_BLOCK_EMAIL>">
	      <TMPL_VAR USER_BLOCK_EMAIL>
            </a>
          </td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>
            <span class="normal"><TMPL_VAR PAGE_LANG_001195>:</span>
          </td>
          <td>
            <span class="normal"><TMPL_VAR USER_BLOCK_TIME></span>
          </td>
          <td></td>
        </tr>

      </TMPL_IF> <!-- if blocked -->

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <input type="submit" name="u_sub_info"
                 value="<TMPL_VAR PAGE_LANG_001178>">
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <input type="submit" name="u_sub_newuser"
                 value="<TMPL_VAR PAGE_LANG_001184>">
        </td>
      </tr>

    </table>

    <hr>

    <TMPL_IF USER_IF_BLOCKED>

<!-- Part 2.1.: Reason for blocking ------------------------------------------->
      <span class="normal"><b><TMPL_VAR PAGE_LANG_001188></b></span>
      <br><br>

      <table cellspacing="0" cellpadding="2" border="0" width="600">

        <colgroup>
          <col width="100">
          <col width="400">
          <col width="100">
        </colgroup>

        <tr>
          <!-- reason language selection -->
          <td valign="top">
            <select name="u_sel_rslang" size="1">
              <TMPL_LOOP NAME="USER_LOOP_LANG">
                <option value="<TMPL_VAR USER_OPTVAL_LANG>" <TMPL_VAR USER_DEF_LANG>>
                  <TMPL_VAR USER_OPT_LANG>
              </TMPL_LOOP>
            </select>
	    <br>
            <!-- language change submit button -->
            <input type="submit" name="u_sub_rschange"
                   value="<TMPL_VAR PAGE_LANG_001189>">
          </td>
          <!-- the reason -->
          <td>
            <span class="normal">
	      <textarea name="u_inp_reason" readonly
	                rows="8" cols="55"><TMPL_VAR USER_REASON></textarea>
	    </span>
          </td>
          <td></td>
        </tr>
	
	<tr><td><br></td></tr>

        <!-- edit button -->
        <tr>
          <td></td>
          <td align="right">
            <span class="normal"><TMPL_VAR PAGE_LANG_001190>:&nbsp;</span>
          </td>
          <td>
            <input type="submit" name="u_sub_rsedit"
                   value="<TMPL_VAR PAGE_LANG_001191>">
          </td>
        </tr>
        
          <!-- new button -->
          <tr>
            <td></td>
            <td align="right">
              <span class="normal"><TMPL_VAR PAGE_LANG_001192>:&nbsp;</span>
            </td>
            <td>
              <input type="submit" name="u_sub_rsnew"
                     value="<TMPL_VAR PAGE_LANG_001193>">
            </td>
          </tr>
        </table>

	<hr>

<!-- Part 2.2.: De-Block ------------------------------------------------------>
      <span class="normal"><b><TMPL_VAR PAGE_LANG_001185></b></span>
      <br><br>

      <div align="center">
        <span class="normal"><TMPL_VAR PAGE_LANG_001186></span>
      </div>

      <table cellspacing="0" cellpadding="2" border="0" width="600">

        <colgroup>
          <col width="500">
          <col width="100">
        </colgroup>

        <tr>
          <td></td>
          <td>
            <input type="submit" name="u_sub_deblock"
                   value="<TMPL_VAR PAGE_LANG_001187>">
          </td>
        </tr>
      </table>

    <TMPL_ELSE>

<!-- Part 3.1.: Promotion ----------------------------------------------------->
      <span class="normal"><b><TMPL_VAR PAGE_LANG_001179></b></span>
      <br><br>

      <table cellspacing="0" cellpadding="2" border="0" width="600">

        <colgroup>
          <col width="100">
          <col width="200">
          <col width="200">
          <col width="100">
        </colgroup>

        <tr>
          <td></td>
          <td>
            <span class="normal"><TMPL_VAR PAGE_LANG_001180></span>
  	  </td>
          <td>
            <select name="u_sel_level" size="1">
              <option value="0"><TMPL_VAR PAGE_LANG_001088>
              <option value="1"><TMPL_VAR PAGE_LANG_001089>
              <option value="2"><TMPL_VAR PAGE_LANG_001090>
            </select>
          </td>
          <td>
            <input type="submit" name="u_sub_promote"
                   value="<TMPL_VAR PAGE_LANG_001181>">
          </td>
        </tr>

      </table>

      <br>
      <hr>

<!-- Part 3.2.: Block user ---------------------------------------------------->
      <span class="normal"><b><TMPL_VAR PAGE_LANG_001182></b></span>
      <br><br>

      <table cellspacing="0" cellpadding="2" border="0" width="600">

        <colgroup>
          <col width="500">
          <col width="100">
        </colgroup>

        <tr>
          <td></td>
          <td>
            <input type="submit" name="u_sub_block"
                   value="<TMPL_VAR PAGE_LANG_001183>">
          </td>
        </tr>

      </table>

    </TMPL_IF> <!-- if user is not blocked ------------------------------------>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









