<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <h1 align="center"><TMPL_VAR PAGE_LANG_001110> <TMPL_VAR USER_USERNAME></h1>

    <br>

    <span class="normal">
      <div align="center"><b><TMPL_VAR PAGE_LANG_001111></b></div>
    </span>
    <br><br>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="300">
        <col width="300">
      </colgroup>

      <tr>
	<td align="right">
	  <select name="u_sel_syslang" size="1">
	    <TMPL_LOOP NAME="USER_LOOP_LANG">
	      <option value="<TMPL_VAR USER_OPTVAL_LANG>" <TMPL_VAR USER_DEF_LANG>>
	        <TMPL_VAR USER_OPT_LANG>
	    </TMPL_LOOP>
	  </select>
	</td>
	<td>
	  <input type="submit" name="u_sub_syslang"
	         value="<TMPL_VAR PAGE_LANG_001112>">
	</td>
      </tr>  

    </table>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









