<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#ababab" width="600">

    <h1 align="center"><TMPL_VAR PAGE_LANG_001115> <TMPL_VAR USER_USERNAME></h1>

    <br>

<!-- Part 1. Languages from Database ------------------------------------------>

    <span class="normal">
      <div align="center"><b><TMPL_VAR PAGE_LANG_001116></b></div>
    </span>
    <br><br>

<!-- debug
    <input type="hidden" name="u_inp_numlangs"
           value="<TMPL_VAR USER_NUMLANGS>">
//-->

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="100">
	<col width="200">
	<col width="100">
	<col width="100">
	<col width="100">
      </colgroup>
      
      <tr>
        <td></td>
	<td>
	  <span class="normal"><b><TMPL_VAR PAGE_LANG_001117></b></span>
	</td>
	<td>
	  <span class="normal"><b><TMPL_VAR PAGE_LANG_001118></b></span>
	</td>
	<td></td>
	<td></td>
      </tr>

      <TMPL_LOOP NAME='USER_LOOP_LANGLVL'>
      <tr>
        <td></td>
        <td>
	  <span class="normal"><TMPL_VAR USER_MYLANG>:</span>
	</td>
	<td>
	  <select name="<TMPL_VAR USER_SEL_LANGLVL>" size="1">
	    <option value="0" <TMPL_VAR USER_DEF_LANGLVL_0>> 
	      <TMPL_VAR USER_OPT_LANGLVL_0>
	    <option value="1" <TMPL_VAR USER_DEF_LANGLVL_1>> 
	      <TMPL_VAR USER_OPT_LANGLVL_1>
	    <option value="2" <TMPL_VAR USER_DEF_LANGLVL_2>> 
	      <TMPL_VAR USER_OPT_LANGLVL_2>
	    <option value="3" <TMPL_VAR USER_DEF_LANGLVL_3>> 
	      <TMPL_VAR USER_OPT_LANGLVL_3>
	    <option value="4" <TMPL_VAR USER_DEF_LANGLVL_4>> 
	      <TMPL_VAR USER_OPT_LANGLVL_4>
	    <option value="5" <TMPL_VAR USER_DEF_LANGLVL_5>> 
	      <TMPL_VAR USER_OPT_LANGLVL_5>	    
	  </select>
	</td>
	<td>
	  <input type="submit" name="<TMPL_VAR USER_SUB_LANGLVL>"
	         value="<TMPL_VAR PAGE_LANG_001119>">
	</td>
	<td>
<!-- debug
	  <input type="hidden" name="<TMPL_VAR USER_INP_LANGID>"
	         value="<TMPL_VAR USER_LANGID>">
//-->
	</td>
      </tr>
      </TMPL_LOOP>

    </table>

    <hr>
      
<!-- Part 2. New Language ----------------------------------------------------->

    <span class="normal">
      <div align="center"><b><TMPL_VAR PAGE_LANG_001120></b></div>
    </span>
    <br><br>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="100">
	<col width="200">
	<col width="100">
	<col width="100">
	<col width="100">
      </colgroup>
      
      <tr>
        <td></td>
        <td>
	  <select name="u_sel_newlang" size="1">
	    <TMPL_LOOP USER_LOOP_NEWLANG>
	      <option value="<TMPL_VAR USER_OPTVAL_NEWLANG>">
	        <TMPL_VAR USER_OPT_NEWLANG>
	    </TMPL_LOOP>
	  </select>
	</td>
	<td>
	  <select name="u_sel_newlanglvl" size="1">
	    <option value="0"><TMPL_VAR USER_OPT_LANGLVL_0>
	    <option value="1"><TMPL_VAR USER_OPT_LANGLVL_1>
	    <option value="2"><TMPL_VAR USER_OPT_LANGLVL_2>
	    <option value="3"><TMPL_VAR USER_OPT_LANGLVL_3>
	    <option value="4"><TMPL_VAR USER_OPT_LANGLVL_4>
	  </select>
	</td>	  
	<td>
	  <input type="submit" name="u_sub_newlang"
	         value="<TMPL_VAR PAGE_LANG_001121>">
	</td>
	<td></td>
      </tr>	

    </table>

    <hr>
    <input type='submit' name="u_sub_back"
           value="<TMPL_VAR PAGE_LANG_001122>">

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>













