<TMPL_INCLUDE lingua_header.tmpl>

    <h1 align="center"><TMPL_VAR PAGE_LANG_001043></h1>

    <span class="normal">
      <div align="center">
        <b><TMPL_VAR PAGE_LANG_001044></b><br>
        <TMPL_VAR PAGE_LANG_001045><br><br>
        <TMPL_VAR PAGE_LANG_001046><br><br>
        <TMPL_VAR PAGE_LANG_001047><br>
        <TMPL_VAR PAGE_LANG_001048>
      </div>
    </span>
    <br>

<TMPL_INCLUDE lingua_footer.tmpl>












