<TMPL_INCLUDE lingua_header.tmpl>

<input type="hidden" name="cat_id" value="<TMPL_VAR PAGE_CAT_ID>">


    <table cellspacing="5" cellpadding="0" border="0">
    <tr>
      <td>
        <TMPL_IF PAGE_CAT_ADMIN>
          <TMPL_VAR PAGE_LANG_000015>
          (<a class="normal" href="<TMPL_VAR CAT_ADMIN_START_NEW>"><TMPL_VAR PAGE_LANG_006000></a>)
        </TMPL_IF>
        <ul> 
        <TMPL_LOOP PAGE_LOOP_CATS>
          <TMPL_IF PAGE_OPEN_CAT>
            <ul>
          </TMPL_IF>

          <li>
            <TMPL_IF PAGE_BUTTON>
              <TMPL_IF PAGE_OPEN_BUTTON>
                [<a class="normal" href="<TMPL_VAR PAGE_OPEN_LINK>">+</a>]
              </TMPL_IF>

              <TMPL_IF PAGE_CLOSE_BUTTON>
                [<a class="normal" href="<TMPL_VAR PAGE_CLOSE_LINK>">-</a>]
              </TMPL_IF>
            <TMPL_ELSE>
              &nbsp;&nbsp;&nbsp;
            </TMPL_IF>

            <span class="normal">
              <TMPL_IF PAGE_CAT_ADMIN>
                <TMPL_VAR PAGE_CAT_NAME>
                (
                  [<a class="normal" href="<TMPL_VAR CAT_ADMIN_NEW_CAT>"><TMPL_VAR PAGE_LANG_006000></a>]
                  [<a class="normal" href="<TMPL_VAR CAT_ADMIN_CHANGE_CAT>"><TMPL_VAR PAGE_LANG_006001></a>]
                  <TMPL_IF IF_CAT_ADMIN_DELETE_CAT>
                    [<a class="normal" href="<TMPL_VAR CAT_ADMIN_DELETE_CAT>"><TMPL_VAR PAGE_LANG_006002></a>]
                  <TMPL_ELSE>
                    [<TMPL_VAR PAGE_LANG_006002>]
                  </TMPL_IF>                  

                  <TMPL_IF CAT_ADMIN_LOCK>
                    [<a class="normal" href="<TMPL_VAR CAT_ADMIN_LOCK_CAT>"><TMPL_VAR PAGE_LANG_006003></a>]
                  <TMPL_ELSE>
                    [<a class="normal" href="<TMPL_VAR CAT_ADMIN_UNLOCK_CAT>"><TMPL_VAR PAGE_LANG_006004></a>]
                  </TMPL_IF>
                )
              <TMPL_ELSE>

                <TMPL_IF PAGE_CAT_TEXT>
                  <a class="normal" href="<TMPL_VAR PAGE_CAT_LINK>"><TMPL_VAR PAGE_CAT_NAME></a>
                <TMPL_ELSE>
                  <TMPL_VAR PAGE_CAT_NAME>
                </TMPL_IF>

                <TMPL_IF PAGE_CAT_NEW_TEXT>
                  (<a class="normal" href="<TMPL_VAR PAGE_CAT_NEW_TEXT_LINK>"><TMPL_VAR PAGE_LANG_006000></a>)
                </TMPL_IF>
              </TMPL_IF>
            </span>
          </li>
 
          <TMPL_IF PAGE_CLOSE_CAT>
            </ul>
          </TMPL_IF>
        </TMPL_LOOP>
        </ul>
      </td>
    </tr>
    </table>

<TMPL_INCLUDE lingua_footer.tmpl>

