<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <table cellspacing="5" cellpadding="0" border="0" align="rigth">
    <tr>
	<td>
	<a class="normal" onclick="<TMPL_VAR TEXT_BACK>"><TMPL_VAR PAGE_LANG_007001></a>
	</td>
        <td>  <TMPL_IF UNICODE_ERROR>
	          <span class="alert">
        	    <TMPL_VAR UNICODE_ERROR>
        	  </span>
              </TMPL_IF>
	</td>
    </tr>
    <tr>
	   <td> <TMPL_VAR PAGE_LANG_007016>: </td>
	    <td> <INPUT NAME="text_file" TYPE="file" SIZE="50" MAXLENGTH="100000" ACCEPT="text/*" > </td>
   </tr>
   <tr><td> </td>
       <td> <input type="submit" name="text_upload" value="<TMPL_VAR PAGE_LANG_007006>"> </td>
	
    </tr>
   </table>


  </td>
</tr>
<tr>
  <td colspan="2">

  </td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>




















