<TMPL_INCLUDE lingua_header.tmpl>

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">Etwas &uuml;ber Sprachen</h1>
    <br><br>

    <table cellspacing="0" cellpadding="2" border="0" width="100%">

      <colgroup> 
        <col width="15&">
        <col width="85%">
      </colgroup>

      <tr>
        <td></td>
        <td>
          Sprachen sind super!!!
        </td>
      </tr>
    </table>

    <hr>
    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>


<TMPL_INCLUDE lingua_footer.tmpl>

