<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#ababab" width="600">

    <TMPL_VAR PAGE_LANG_001001> <BR>
    <TMPL_VAR USER_FIRSTNAME> <BR>
    <TMPL_VAR USER_LASTNAME> <BR>
    <TMPL_VAR PAGE_LANG_001002> <BR>
    <BR>
    <TMPL_VAR PAGE_LANG_001001> <BR>
    <TMPL_VAR USER_FIRSTNAME> <BR>
    <TMPL_VAR USER_LASTNAME> <BR>
    <TMPL_VAR PAGE_LANG_001002> <BR>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>



