<html>
<head>
  <title><TMPL_VAR PAGE_TITLE></title>
  <meta http-equiv="Content-type" content="text/html; charset=<TMPL_VAR PAGE_CHARSET>">
  
  <style type="text/css">

    a.small, a.normal, a.big, a.menu, 
    span.alert, span.small, span.normal, span.big, span.menu,
    h1, h2, h3
    {
      font-family: Arial Unicode MS, Helvetica, Arial, Verdana;
    }

    a.small, span.small { 
      font-size: 10pt; 
      color: #ffffff;
    }

    a.normal, span.normal, h3 {
      font-size: 12pt; 
      color: #ffffff;
    }

    a.big, span.big, h2 {
      font-size: 16pt; 
      color: #ffffff;
    }

    h1 {
      font-size: 18pt; 
      color: #ffffff;
    }

    a.menu, span.menu {
      font-size: 12pt;
      color: #000000; 
    }

    span.alert, span.error {
      font-size: 12pt;
      color: #ff0000;
    }

    a:link    { text-decoration: underline; }
    a:active  { text-decoration: underline; }
    a:visited { text-decoration: underline; }

  </style>

</head>


<body text="ffffff" bgcolor="#ffffff"> 

<form action="<TMPL_VAR PAGE_SCRIPT>" method="post" enctype="multipart/form-data">

<input type="hidden" name="action" value="<TMPL_VAR PAGE_ACTION>">
<input type="hidden" name="sid" value="<TMPL_VAR PAGE_SID>">
<input type="hidden" name="lang" value="<TMPL_VAR PAGE_LANG>">
<input type="hidden" name="method" value="<TMPL_VAR PAGE_METHOD>">
<input type="hidden" name="open" value="<TMPL_VAR PAGE_OPEN>">

<!-- table for outer border -->
<table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#31649D" width="100%">
<tr>
  <td>

    <!-- main table: 1 top row, 2 main columns and 1 row and 1 column as separators -->
    <table cellspacing="0" cellpadding="5" border="0" width="100%" align="center">

      <!-- top row: logo -->
      <tr valign="center">
        <td colspan="2" height="110" bgcolor="#31649D" align="center" valign="center">
          <TMPL_INCLUDE lingua_logo.tmpl>
        </td>
      </tr>

      <!-- red separator bar -->
      <tr>
        <td colspan="2" height="10" bgcolor="#f9d852">
        </td>
      </tr>

      <!-- main row: left menu and right texts area etc. -->
      <tr valign="top">

        <!-- menu -->
        <td width="180" bgcolor="#f9d852"> <!-- 4ed33f -->
          <TMPL_INCLUDE lingua_left.tmpl>
        </td>

	<!-- separator -->
<!--
        <td width="10" height="600" bgcolor="#ff9900"></td>
//-->
	<!-- main text area -->
        <td width="*" height="500" bgcolor="#31649D">

<!-- ordinary templates start here ------------------------------------------->






