<TMPL_INCLUDE lingua_header.tmpl>


    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">Benutzerdaten verwalten</h1>

<div align="justify">
<span class="normal">

<b>Suchen eines Benutzers</b>
<br><br>

Wenn Sie (als Administrator) einen Benutzer sperren oder aber sie/ihn zu einem
Administrator oder Kategorienleiter bef&ouml;rdern m&ouml;chten, klicken Sie 
auf "Benutzer Verwalten" auf der Navigationsleiste. Dieser Link erscheint nur
f&uuml;r Administratoren.
<br><br>

Im folgenden Formular k&ouml;nnen Sie den Benutzernamen des users eingeben
(dies ist im Moment die einzige M&ouml;glichkeit, andere wie z.B. die Verlinkung
von der Pers&ouml;nlichen Seite sind noch in &Uuml;berlegung) <br>
Existiert der Benutzer, erscheint die Verwaltungs-Seite.


<br><br>
<b>Benutzer bef&ouml;rdern</b>
<br><br>

Als Administrator haben Sie das Recht, <b>jeden</b> Benutzer (au&szlig;er sich 
selbst) zu <b>jedem</b> der drei Benutzer-Level zu bef&ouml;rdern. Das 
bedeutet, Sie k&ouml;nnen jeden Benutzer, der Ihnen geeignet erscheint, zum 
Kategorienleiter oder Administrator machen, aber auch jedem der anderen 
Administratoren seine besonderen Rechte abnehmen, indem Sie sie/ihn zum
einfachen Benutzer zur&uuml;ckstufen.
<br>
Sie haben hier also eine recht gro&szlig;e Freiheit, die Sie verantwortungsvoll
nutzen sollten. Wer Kategorienleiter oder Administrator wird, sollte auch von
den anderen Administratoren akzeptiert sein, sprechen Sie sich also ab!
Von jedem Administrator sollte diese Verantwortung erwartet werden k&ouml;nnen,
die R&uuml;ckstufung eines Administrators sollte eigentlich nicht n&ouml;tig
werden.


<br><br>
<b>Benutzer sperren</b>
<br><br>

In wahrscheinlich jedem System gibt es schwarze Schafe, die ihren destruktiven 
Frust auslassen m&uuml;ssen und versuchen, m&ouml;glichst viel Unheil 
anzurichten. Andere geh&ouml;ren verbotenen Gruppen an, wie z.B. Nazis, 
Kindersch&auml;nder oder Terroristen. Sollte ein user "M&uuml;ll" oder 
illegales Material in LINGUA posten, besteht die M&ouml;glichkeit, diese/diesen
zu sperren, sprich das Einloggen ins System zu unterbinden. Der user hat dann
nicht mehr die M&ouml;glichkeit, Daten im System zu ver&auml;ndern.
<br><br>

Zum Sperren klicken Sie auf der Verwaltungs-Seite des schwarzen Schafs auf
"Sperren". Sie k&ouml;nnen die Sperre in verschiedenen Sprachen begr&uuml;nden,
in mindestens einer m&uuml;ssen Sie das tun. 
<br>
Von jetzt ab kann der user sich nicht mehr einloggen. Ansonsten geschieht 
nichts, es ist Ihnen &uuml;berlassen, der/demjenigen eine Nachricht 
zukommen zu lassen. Versucht der user, sich einzuloggen, erscheint eine 
Mitteilung mit der Begr&uuml;ndung und Ihrem K&uuml;rzel. Sie/Er bleibt 
gesperrt, bis Sie oder ein anderer Administrator die Sperre wieder 
aufheben.


<br><br>
<b>Benutzer wieder freigeben</b>
<br><br>

Wenn Sie sich entscheiden, einen gesperrten Benutzer wieder freizugeben,
gehen Sie einfach auf dessen Verwaltungsseite und klicken auf "freigeben".
Mit sofortiger Wirkung ist die Sperre aufgehoben.


</span>
</div> <!-- align=justify -->

    <hr>
    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>


<TMPL_INCLUDE lingua_footer.tmpl>
