<!------- start logo ------->
<table cellspacing="0" cellpadding="0" border="0" width="100%">

  <tr>
    <td width="200" align="left">
      <img src="/lingua/world2.gif">
    </td>
    <td width="*" align="center">
      <img src="/lingua/logo.jpg">
    </td>
  </tr>

</table>
<!------- end logo ------->
