<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#ababab" width="600">

    <h1 align="center"><TMPL_VAR PAGE_LANG_001144> <TMPL_VAR USER_USERNAME></h1>

    <br>

    <div align="center">
      <span class="normal">
        <b><TMPL_VAR PAGE_LANG_001145></b><br>
        <TMPL_VAR PAGE_LANG_001146>
      </span>

      <br><br>

      <TMPL_IF USER_IF_DESC_ERR>
        <span class="alert">
          <b><TMPL_VAR PAGE_LANG_001152></b><br>
          <b><TMPL_VAR USER_ERROR_DESC></b><br><br>
        </span>
      </TMPL_IF>

    </div>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup>
        <col width="100">
        <col width="400">
        <col width="100">
      </colgroup>

      <tr>
        <td></td>
        <td>

          <!-- description-language selection -->
          <select name="u_sel_desclang" size="1">
            <TMPL_LOOP NAME="USER_LOOP_LANG">
              <option value="<TMPL_VAR USER_OPTVAL_LANG>" <TMPL_VAR USER_DEF_LANG>>
                <TMPL_VAR USER_OPT_LANG>
            </TMPL_LOOP>
          </select>

          <!-- language change submit button -->
          <input type="submit" name="u_sub_desclang"
                 value="<TMPL_VAR PAGE_LANG_001147>">

        </td>
	<td></td>
      </tr>

      <!-- description -->
      <tr>
        <td></td>
        <td>
          <span class="normal">
	    <textarea name="u_inp_desc"  
	              rows="8" cols="55"><TMPL_VAR USER_DESC></textarea>
          </span>
        </td>
        <td></td>
      </tr>

    </table>

    <br><br>

    <div align="center">
      <input type="submit" name="u_sub_desc"
             value="<TMPL_VAR PAGE_LANG_001148>">
    </div>

    <hr>
    <input type='submit' name="u_sub_back"
           value="<TMPL_VAR PAGE_LANG_001149>">

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>













