<TMPL_INCLUDE lingua_header.tmpl>

<table cellspacing="5" cellpadding="2" border="0" width="800" align="center">
<tr valign="top">
  <td colspan="2">
    <TMPL_INCLUDE lingua_logo.tmpl>
  </td>
</tr>
<tr valign="top">
  <td width="200">
    <TMPL_INCLUDE lingua_left.tmpl>
  </td>
  <td bgcolor="#31639C" width="600">

    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">Konzept der Arbeitsgruppe Lingua</h1>

<div align="justify">
<span class="normal">

<b>1 Ziel des System</b>
<br><br>

Innerhalb des Wintersemesters 2001/2002 sollte im Projekt  Entwicklung
von Systemen f&uuml;r ein Entwicklungsland  an der TU-Berlin in der
Fakult&auml;t IV (Informatik und Elektrotechnik) ein virtueller
Sprach-Marktplatz (smp) implementiert werden. Der Veranstalter des
Projektes, Dr. Nazir Peroz, stellte sich diesen Marktplatz als Forum
zur F&ouml;rderung von zum Aussterben bedrohten Sprachen vor. Dieses Forum
stellt die Schnittstelle zwischen Menschen dar, die Texte von einer
Sprache in eine andere &uuml;bersetzt haben wollen und Menschen, die
mehrere Sprachen sprechen und arbeitslos sind oder die sich in ihrer
Freizeit mit dem &Uml;bersetzen besch&auml;ftigen wollen. Texte werden hierbei
in ein Fachgebiet eingeordnet und mit einer Quell- und einer
Zielsprache spezifiziert. Die &Uuml;bersetzer werden dann entsprechend
ihrer Qualifikation benachrichtigt und nach erfolgreicher &Uuml;bersetzung
bezahlt. Die Finanzierung des Projektes soll &uuml;ber &ouml;ffentliche Gelder
geregelt werden.  

<br><br>
<b>2 Die Alternative</b>
<br><br>

Wir wollten allerdings einen etwas anderen Weg zur L&ouml;sung dieses
Problems bestreiten. Wir wollten eine sich selbst regulierende
Community gr&uuml;nden. Der Gedanke dabei ist, daﬂ die &Uuml;bersetzer kein Geld
f&uuml;r ihre &Uuml;bersetzungen bekommen, weil sich f&uuml;r interessante Texte, die
auch anderen nutzen k&ouml;nnten immer Freiwillige finden, die sich die
Arbeit machen einen Text zu &uuml;bersetzen. 

<br><br>
<b>3 Das Punktesystem</b>
<br><br>

Als kleiner Anreiz, und damit nicht Leute t&auml;glich mehrere Texte in
unsere Community stellen, aber nie einen Text &uuml;bersetzen, haben wir
ein Punktesystem eingef&uuml;hrt. Zur Zeit ist es so, das man f&uuml;r jeden
Tag, an dem man bei der Community Mitglied ist, 20 Punkte
gutgeschrieben bekommt. Desweiteren bekommen Benutzer f&uuml;r das
&uuml;bersetzen von Texten Punkte gutgeschrieben. Zur Zeit sind das zwei
Punkte pro Wort des Textes. Wollen User Texte in die Community
stellen, damit diese von anderen &uuml;bersetzt werden k&ouml;nnen, kostet 
sie das einen Punkt pro Wort des Textes. 
<br><br>

Die genaue Spezifikation des Punktesystems muﬂ sich innerhalb der
Community von selbst finden. Wir haben die am Anfang beschriebene
Punkteverteilung eingef&uuml;hrt, weil sie uns sinnvoll erschien.  Wenn wir
dann sehen, das die eine oder andere Sache w&auml;hrend des
Community-betriebs einfach unter- oder &uuml;berbewertet ist, dann werden
wir die Punkteverteilung und die Punktekosten entsprechend anpassen. 

<br><br>
<b>4 Die Userstruktur</b>
<br><br>

Bisher existiert eine Vierstufenhierarchie f&uuml;r die Benutzer und
Mitglieder unserer Community. Auf der untersten Stufe steht der
normale Besucher, der s&auml;mtliche Texte, die in unserer Community zu
finden sind, lesen darf. Denn die Community will sich nicht nur als
&Uuml;bersetzungsplattform verstehen, sondern auch als Sammelpunkt f&uuml;r
interessante und n&uuml;tzliche Informationen. Will man an der &Uuml;bersetzung
von Texten mitarbeiten oder Texte &Uuml;bersetzen lassen, muﬂ man sich als
Mitglied registrieren. Als registiertes Mitglied geh&ouml;rt man einer der
folgenden drei Stufen an:

<ul>
  <li>Die oberste Stufe von Mitgliedern sind die
  <em>Administratoren.</em> Sie d&uuml;rfen, kurz gesagt, alles. Wichtig
  ist z.B., daﬂ sie Mitglieder sperren und Texte l&ouml;schen k&ouml;nnen. Denn
  als Sammelplatz rassistischer, sexistischer oder &auml;hnlicher Texte und
  den entsprechenden Mitgliedern, die solche Texte in die Community
  stellen, verstehen wir uns nicht. Das soll allerdings nicht heiﬂen,
  das wir Zensur an den in unsere Community gestellten Texten
  vornehmen wollen. Das L&ouml;schen von Texten und Usern durch die
  Administratoren sollte nur in Einzelf&auml;llen geschehen. 

  <li> Die n&auml;chste Stufe von Mitgliedern sind die
  Kategorienleiter. Zur Zeit angedacht ist, das diese die Betreuung
  einer Kategorie (ein Fachgebiet) von Texten &uuml;bernehmen und innerhalb
  dieses Bereichs problematische Texte und Mitglieder ausschlieﬂen
  k&ouml;nnen. 

  <li> Die letzte Stufe enth&auml;lt die groﬂe Masse der normalen
  Mitglieder, die eignene Texte zur &Uuml;bersetzung in die Community geben
  und fremde Texte &uuml;bersetzen
</ul>

</span>
</div> <!-- align=justify -->

    <hr>
    <a href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>

  </td>
</tr>
<tr>
  <td colspan="2">

  <td>
</tr>
</table>

<TMPL_INCLUDE lingua_footer.tmpl>









