<TMPL_INCLUDE lingua_header.tmpl>


    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Back to Table of Contents</a>
    <hr>

    <h1 align="center">About Languages</h1>
    <br><br>

    <table cellspacing="0" cellpadding="2" border="0" width="600">

      <colgroup> 
        <col width="100">
        <col width="500">
      </colgroup>

      <tr>
        <td></td>
        <td>
          Languages are the shit
        </td>
      </tr>
    </table>

    <hr>
    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Back to Table of Contents</a>


<TMPL_INCLUDE lingua_footer.tmpl>









