<TMPL_INCLUDE lingua_header.tmpl>


    <input type="hidden" name="index" value="<TMPL_VAR HELP_INDEX>">

    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>
    <hr>

    <h1 align="center">LINGUA's Bedeutung f&uuml;r Entwicklungsl&auml;nder</h1>

<div align="justify">
<span class="normal">

    LINGUA entstand im Rahmen eines Uni-Projekts unter dem Namen "Entwicklung
    eines Systems f&uuml;r ein Entwicklungsland". Das Hauptaugenmerk liegt also
    darin, etwas an der Situation von Entwicklungsl&auml;ndern zu aendern - nicht
    alles auf einmal, nat&uuml;rlich, wir versuchen nur, an einer von vielen Stellen
    anzusetzen, an denen die westlichen Industrielaender durch ihren grossen
    Einfluss Entwicklungsl&auml;nder &uuml;bervorteilen.<br>

    Eine dieser Stellen ist die Sprache. Eine Sprache ist aus verschiedenen Gr&uuml;nden
    wichtig, gerade f&uuml;r ein Entwicklungsland:

<br><br>
<b>1. Sprache und Wissen</b>
<br><br>

    Wissen und Kreativit&auml;t dr&uuml;cken wir in Sprache aus, Sprache ist die Grundlage
    aller B&uuml;cher, Zeitungsartikel, wissenschaftlicher Arbeiten und der meisten
    Webseiten im Internet. Wissen ist zum einen notwendig, um in der globalisierten
    Wissensgesellschaft "mitzumischen", sich in ihr zurechtzufinden und auch, um die
    Mechanismen zu verstehen, die zu Armut und Unterdr&uuml;ckung f&uuml;hren. Wissen zu
    erlangen und in der schulischen Erziehung an junge (und alte) Menschen
    weiterzugeben sollte ein Ziel f&uuml;r den Aufbau zur Selbst&auml;ndigkeit, zum Abbau von
    Schulden und Abh&auml;ngigkeit sein. Wissen fremder Kulturen, der westlichen
    Industriestaaten etwa, kann unter Umst&auml;nden n&uuml;tzlich f&uuml;r die Entwicklung eines
    Landes sein, eine &Uuml;bersetzung in die eigene Landessprache ist dazu notwendig.
    <br><br>
    Zum anderen ist Wissen ein wertvolles Gut, eine Handelsware, wenn man so
    will. In der Informationsgesellschaft besteht ein großer Teil der
    erwirtschafteten Produkte aus "Wissen", z.B. Erfindungen, Software,
    Lehrmaterial. Wissen kann in der internationalen Gesellschaft verkauft werden
    und so zur St&auml;rkung der Wirtschaft beitragen. Allerdings muss das
    erwirtschaftete Wissen von potentiellen K&auml;ufern verstanden werden, sonst w&auml;re
    es sozusagen nicht marktreif. Sprich, wer etwas auf arabisch schreibt, brauch
    eine &Uuml;bersetzung auf Englisch, wenn er seine Ware auf dem Markt der
    Nur-Englisch-sprechenden Menschen verkaufen will. Die Verf&uuml;gbarkeit der Ware
    Wissen in mehreren Sprachen &ouml;ffnet dem Produzent M&auml;rkte.

<br><br>
<b>2. Sprache und Kultur</b> 
<br><br>

    Sprache ist ein wichtiges Mittel, um die Kultur eines Landes oder einer
    Bev&ouml;lkerungsgruppe auszudr&uuml;cken. Gleichzeitig ist in einer Sprache ein
    Gutteil einer Kultur "versteckt", in der Grammatik, den Redewendungen und den
    W&ouml;rtern enthalten. In einer Sprache steckt ein Teil der kulturellen Identit&auml;t
    der Menschen. In der Kultur und damit in der Sprache sind die Wurzeln der
    Menschen zu sehen, ihre Heimat, ein Teil ihrer Pers&ouml;nlichkeit.

    Das Verschwinden einer Sprache ist gleichzeitig das Verschwinden einer
    eigenst&auml;ndigen Kultur. Die Bedeutung der kulturellen Identit&auml;t mag man
    anzweifeln, aber unzweifelbar geht der Welt etwas verloren, wenn eine Sprache
    und damit eine Kultur verschwindet, ebenso, wie den Nachkommen der Kultur ihre
    Wurzeln verlorengehen. Wenn durch &Uuml;bersetzungen Sprachen vor dem Aussterben
    gesch&uuml;tzt werden k&ouml;nnen, dann kann ein Sprachmarktplatz dabei helfen.

<br><br>

Sprache ist ein wichtiges Mittel, um die Kultur eines Landes oder einer
Bev&ouml;lkerungsgruppe auszudr&uuml;cken. Gleichzeitig ist in einer Sprache ein
Gutteil einer Kultur "versteckt", in der Grammatik, den Redewendungen und den
W&ouml;rtern enthalten. In einer Sprache steckt ein Teil der kulturellen Identit&auml;t
der Menschen. In der Kultur und damit in der Sprache sind die Wurzeln der
Menschen zu sehen, ihre Heimat, ein Teil ihrer Pers&ouml;nlichkeit.

Das Verschwinden einer Sprache ist gleichzeitig das Verschwinden einer
eigenst&auml;ndigen Kultur. Die Bedeutung der kulturellen Identit&auml;t mag man
anzweifeln, aber unzweifelbar geht der Welt etwas verloren, wenn eine Sprache
und damit eine Kultur verschwindet, ebenso, wie den Nachkommen der Kultur ihre
Wurzeln verlorengehen. Wenn durch &Uuml;bersetzungen Sprachen vor dem Aussterben
gesch&uuml;tzt werden können, dann kann ein Sprachmarktplatz dabei helfen.


</span>
</div> <!-- align=justify -->

    <hr>
    <a class="normal" href="<TMPL_VAR HELP_MYURL>&index=1">Zur&uuml;ck zum Inhalt</a>


<TMPL_INCLUDE lingua_footer.tmpl>









